<%= form_for(@visitor_comment) do |f| %>
  <% if @visitor_comment.errors.any? %>
    <div id="error_explanation">
      <h4><%= t 'common.error_save', count: @visitor_comment.errors.count, model: VisitorComment.model_name.human %></h4>

      <ul>
      <% @visitor_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>  
  <div class="field">
    <%= f.label :content %>
    <%= f.cktext_area :content, ckeditor: {language: I18n.locale, toolbar: 'Comments'} %>
  </div>
  <div class="actions">
      <%= f.submit class: "button small" %>
  </div>
<% end %>

<%= render 'admin/emoji/emoji_modal' %>