<h1 class="text-center"><%= t('visitor_comments.index.public.title') %></h1>

<div class="row">
  <% if can? :create, VisitorComment %>
    <%= link_to t('visitor_comments.index.public.new'), new_visitor_comment_path, class: "button small" %>
  <% end %>
  <br>

  <div class="small-9">
    <% unless @visitor_comments.empty? %>
      <% @visitor_comments.each do |visitor_comment| %>

          <h3 class="text-center"><%= visitor_comment.subject %></h3>
          <hr>          
          <% if can? :read, User %>
            <%= link_to visitor_comment.user.name, [:admin,visitor_comment.user] %>
          <% else %>
            <%= visitor_comment.user.name %>
          <% end %>
          <br>
          <%= t('visitor_comments.attributes.created_at') %>: <%= l visitor_comment.created_at %><br>
          <% if visitor_comment.created_at != visitor_comment.updated_at %>
            <%= t('visitor_comments.attributes.updated_at') %>: <%= l visitor_comment.updated_at %><br>
          <% end %>
          <hr>
          <p><%= visitor_comment.content %></p>
          <hr>

          <% if can? :update, visitor_comment %>
            <%= link_to t('common.edit'), edit_visitor_comment_path(visitor_comment), class: "button tiny" %>
            <% if can? :destroy, visitor_comment %>
            <%= link_to t('common.destroy'), visitor_comment, method: :delete, data: { confirm: t('common.confirm') }, class: "button tiny alert" %>
            <% end %>
          <% end %>
          <br>
      <% end %>

      <div class="apple_pagination">
        <%= will_paginate @visitor_comments %>
      </div>
    <% end %>
  </div>
</div>