<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @visitor_comment.subject %>
</p>

<p>
  <strong>Name:</strong>
  <%= @visitor_comment.name %>
</p>

<p>
  <% if user_signed_in? %>
    <% if can? :update, @visitor_comment %>
      <strong>Email:</strong> <%= @visitor_comment.email %>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Content:</strong>
  <%= @visitor_comment.content %>
</p>

<%= link_to 'Edit', edit_visitor_comment_path(@visitor_comment) %> |
<%= link_to 'Back', visitor_comments_path %>
