<%= form_for([:admin,@page], data: {model: 'page'}) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h4><%= t 'common.error_save', count: @page.errors.count, model: Page.model_name.human %></h4>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div id="page-container" data-lang=<%= I18n.locale %>>
    <!-- Page name -->
    <%= content_tag :div, class: 'field', id: 'page-title-'+ I18n.locale.to_s do %>
      <%= f.label t('pages.attributes.title', locale: I18n.locale) %>
      <%= f.text_field ("title_" + I18n.locale.to_s).to_sym %>
    <% end %>
    <!-- Page slug -->
    <%= content_tag :div, class: 'field', id: 'page-slug-' + I18n.locale.to_s do %>
      <%= f.label t('pages.attributes.slug', locale: I18n.locale) %>
      <%= f.text_field :slug %>
    <% end %>
    <!-- Page body -->
    <%= content_tag :div, class: 'field', id: 'page-content-'+ I18n.locale.to_s do %>
      <%= f.label t('pages.attributes.body', locale: I18n.locale) %>
      <%= f.cktext_area ("body_" + I18n.locale.to_s).to_sym, ckeditor: {language: I18n.locale} %>
    <% end %>
    <br>
    <div class="actions">
      <%= f.submit class: "button right" %>
    </div>
  </div>
<% end %>

<!-- Joyride Instructions -->
<%= render 'joyride_instructions' %>

<!-- Modal content -->
<%= render 'admin/attachments/generic_modal' %>
<%= render 'admin/emoji/emoji_modal' %>