<ul class="tabs" data-tab>
  <% Setting.selected_languages.each do |l| %>
    <li id="lang-tab" data-lang=<%= l %> class="tab-title <%= l == I18n.locale.to_s ? "active" : "" %>"><a href="#langtab-<%= l %>"><%= t('language_name.' + I18n.locale.to_s, locale: l) %></a></li>
  <% end %>
</ul>

<%= form_for([:admin,@admin_page], data: {model: 'page'}) do |f| %>
  <% if @admin_page.errors.any? %>
    <div id="error_explanation">
      <h4><%= t 'common.error_save', count: @admin_page.errors.count, model: Page.model_name.human %></h4>
      <ul>
      <% @admin_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="tabs-content"> 
    <% Setting.selected_languages.each do |l| %>
      
      <%= content_tag :div, class: "content " + (l == I18n.locale.to_s ? "active" : ""), id: "langtab-" + l do %> 

        <!-- Page name -->
        <%= content_tag :div, class: 'field', id: 'page-title-'+ l do %>
          <%= f.label t('pages.attributes.title', locale: l.to_sym) %>
          <%= f.text_field ("title_" + l).to_sym %>
        <% end %>
        <!-- Page slug -->
        <%= content_tag :div, class: 'field', id: 'page-slug-' + l do %>
          <%= f.label t('pages.attributes.slug', locale: l.to_sym) %>
          <%= f.text_field :slug %>
        <% end %>
        <!-- Page body -->
        <%= content_tag :div, class: 'field', id: 'page-content-'+ l do %>
          <%= f.label t('pages.attributes.body', locale: l.to_sym) %>
          <%= f.cktext_area ("body_" + l).to_sym, ckeditor: {language: I18n.locale} %>
        <% end %>
      <% end %>
    <% end %>

    <div class="actions">
      <%= f.submit class: "button right" %>
    </div>
  </div>
<% end %>

<!-- Joyride instructions -->
<%= render 'joyride_instructions' %>

<!-- Modal content -->
<%= render 'admin/attachments/generic_modal' %>
<%= render 'admin/emoji/emoji_modal' %>