<% if @page.send('body_' + I18n.locale.to_s).nil? %>

  <h2 class="text-center"><%= t('common.translation_missing') %></h2>

<% else %>

  <h1 class="text-center"><%= @page.send('title_' + I18n.locale.to_s) %></h1>

  <strong><%= t('pages.attributes.slug') %>:</strong>
  <p><%= @page.slug %></p>

  <strong><%= t('pages.attributes.body') %>:</strong>
  <%= @page.send('body_' + I18n.locale.to_s).html_safe %>

<% end %>