<h1 class="text-center"><%= t('pages.index.admin.title') %></h1>

<div class="row">
  <%= link_to t('pages.index.admin.new'), new_admin_page_path, class: "button tiny" %>
  <div class="small-12">
    <% unless @pages.blank? %>
      <table>
        <thead>
          <tr>
            <th></th>
            <th><%= t 'pages.attributes.title' %></th>
            <th><%= t 'pages.attributes.slug' %></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @pages.each do |page| %>
            <tr>
              <td><h4 class="text-center"><%= content_tag :i, '', class: (page.publish ?  "fi-check check" : "fi-x uncheck"), title: (page.publish ? t('common.published') : t('common.not_published')) %></h4></td>
              <td><%= page.title %></td>
              <td><%= page.slug %></td>
              <td>
                <%= link_to t('common.show'), [:admin,page], class: "button tiny" %>
                <%= link_to t('common.edit'), edit_admin_page_path(page), class: "button tiny" %>
                <%= link_to t('common.destroy'), [:admin,page], method: :delete, data: { confirm: t('common.confirm') }, class: "button tiny alert" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>