<%= form_for([:admin,@gallery]) do |f| %>
  <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this admin_gallery from being saved:</h2>

      <ul>
      <% @gallery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="gallery_title" class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div id="gallery_description" class="field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 6 %>
  </div>
  <div id="gallery_date" class="field">
    <%= f.label :date %>
    <%= f.date_select :date, {}, {class: "small-4 columns"} %>
  </div>

  <button id="add-image"><%= t('galleries.add_image') %></button>

  <div class="small-12 columns">
    <ul id="sortable">
      <% @added_images.each do |image| %>
        <li class="ui-state-default" id="<%= image.id %>">
          <img alt="default" src="<%= download_attachment_url(image.attachment)%>">
          <button id="remove-image<%= image.id %>" class="small" data-photo-id="<%= image.id %>"><%= t('galleries.remove_image') %></button>
        </li>
      <% end %>
    </ul>
  </div>

  <br>
  <br>

  <div class="small-12 actions">
    <%= f.submit class: "button right" %>
  </div>

<% end %>


<div id="dialog" title="<%= t('galleries.add_image') %>" style="display:none">
  <p class="validateTips"><%= t('galleries.select_image') %></p>
  <ol id="selectable">
    <% @images.each do |image| %>
      <li class="ui-widget-content" data-attachment-link='"<%= download_attachment_url(image)%>"' data-attachment-id="<%= image.id %>" ><%= image.file_file_name %></li>
    <% end %>
  </ol>
</div>


<div id="joyride-content">
  <ol class="joyride-list" data-joyride>
    <li data-id="gallery_title" data-text="Next" data-options="tip_location: top; prev_button: false">
      <p>Enter the name you want for the gallery.</p>
    </li>  
    <li data-id="gallery_description" data-text="Next" data-options="tip_location: top">
      <p>Describe the gallery.</p>
    </li>
    <li data-id="gallery_date" data-text="Next" data-options="tip_location: top;">
      <p>Choose the date associated with this gallery.</p>
    </li>
    <li data-id="add-image" data-text="Ok" data-options="tip_location: top;">
      <p>Add images from attachments to this gallery.</p>
    </li>
    <li data-button="End" data-options="tip_location: top;">
      <p>After images are added, you can reorder them by dragging and drop.</p>
    </li>
  </ol>
</div>