<%= form_for([:admin,@gallery]) do |f| %>
  <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h4><%= t 'common.error_save', count: @gallery.errors.count, model: Gallery.model_name.human %></h4>

      <ul>
      <% @gallery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="gallery-container">
    <div id="gallery_title" class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div id="gallery_description" class="field">
      <%= f.label :description %>
      <%= f.text_area :description, rows: 6 %>
    </div>
    <div id="gallery_date" class="field">
      <%= f.label :date %>
      <%= f.date_select :date, {}, {class: "small-4 columns"} %>
    </div>
    <!-- Submit and add photo buttons -->
    <div id="gallery-add-image" class="small-12 actions" class="field">
      <button class="attachment-btn" id="insert-attachment" data-reveal-id="attachment-modal">
        <%= t('galleries.add_image') %>
      </button>
      <%= f.submit class: "button right" %>
    </div>
    <div id="selected-images-container" class="field">
      <%= render 'selected_images' %>
    </div>
  </div>
<% end %>

<%= render 'admin/attachments/image_modal' %>

<%= render 'joyride_instructions' %>