<div id="joyride-content">
  <ol class="joyride-list" data-joyride>
    <li data-id="gallery-title" data-text=<%= t 'joyride.next' %> data-options="tip_location: top; prev_button: false">
      <p><%= t 'joyride.gallery.title' %></p>
    </li>  
    <li data-id="gallery-description" data-text=<%= t 'joyride.next' %> data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.gallery.description' %></p>
    </li>
    <li data-id="gallery-date" data-text="Ok" data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top;">
      <p><%= t 'joyride.gallery.date' %></p>
    </li>
  </ol>
</div>