<%= form_for([:admin,@gallery]) do |f| %>
  <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this admin_gallery from being saved:</h2>

      <ul>
      <% @gallery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 6 %>
  </div>
  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date, {}, {class: "small-4 columns"} %>
    <%= f.time_select :date, { time_separator: "", ignore_date: true }, {class: "small-6 columns"} %>
  </div>

  <div class="actions">
    <%= f.submit class: "button right" %>
  </div>
<% end %>