<h1 class="text-center"><%= t('galleries.index.admin.title') %></h1>

<div class="row">
  <%= link_to t('galleries.index.admin.new'), new_admin_gallery_path, class: "button tiny" %>
  <div class="small-12">
  <% unless @galleries.blank? %>
    <table>
      <thead>
        <tr>
          <th><%= t('galleries.attributes.title') %></th>
          <th><%= t('galleries.attributes.description') %></th>
          <th><%= t('galleries.attributes.date') %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @galleries.each do |gallery| %>
          <tr>
            <td><%= gallery.title %></td>
            <td><%= gallery.description %></td>
            <td><%= l gallery.date, format: :long %></td>
            <td>
              <%= link_to t('common.show'), [:admin,gallery], class: "button tiny" %>
              <%= link_to t('common.edit'), edit_admin_gallery_path(gallery), class: "button tiny" %>
              <%= link_to t('common.destroy'), [:admin,gallery], method: :delete, data: { confirm: t('common.confirm') }, class: "button tiny alert" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  </div>
</div>
