<h1 class="text-center">Listing galleries</h1>

<div class="row">
  <%= link_to 'New gallery', new_admin_gallery_path, class: "button tiny" %>
  <div class="small-12">
  <% unless @galleries.empty? %>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @galleries.each do |gallery| %>
          <tr>
            <td><%= gallery.title %></td>
            <td><%= gallery.description %></td>
            <td><%= gallery.date_human %></td>
            <td>
              <%= link_to 'Show', [:admin,gallery], class: "button tiny" %>
              <%= link_to 'Edit', edit_admin_gallery_path(gallery), class: "button tiny" %>
              <%= link_to 'Destroy', [:admin,gallery], method: :delete, data: { confirm: 'Are you sure?' }, class: "button tiny alert" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  </div>
</div>
