<br>
<div class="row">
  <%= link_to t('galleries.name'), admin_galleries_path, class: "button small" %>
  <%= link_to t('common.edit'), edit_admin_gallery_path(@gallery), class: "button small" %>

  <div class="small-12">
    <h1 class="text-center"><%= @gallery.title %></h1>

    <p>
      <strong><%= t('galleries.attributes.description') %>:</strong>
      <%= @gallery.description %>
    </p>

    <p>
      <strong><%= t('galleries.attributes.date') %>:</strong>
      <%= @gallery.date %>
    </p>


    <ul id="sortable-show">
      <% @added_images.each do |image| %>
        <li class="ui-state-default" id="<%= image.id %>">
          <div class="image">
            <a href="<%= download_attachment_url(image.attachment)%>">
              <img alt="default" src="<%= download_attachment_url(image.attachment)%>">
            </a>
            <%= link_to content_tag(:i, '', class: "fi-x"), {action: 'remove_photo', controller: 'admin/galleries', photo_id: image.id}, method: :post, class: "corner" %>
          </div> 
        </li>
      <% end %>
    </ul>
  </div>
</div>