<h1>Listing blogs</h1>

<% unless @blogs.empty? %>
  <% @blogs.each do |blog| %>
    <div class="blog">
      <div class="title">
        <%= link_to blog.title, blog %>
      </div>
      <div class="author">
        by <%= blog.user.email %>
      </div>
      <div class="created_updated">
        created: <%= blog.date_created_human %> last updated: <%= blog.date_updated_human %>
      </div>
      <div class="content">
        <%= truncate(blog.content, length: 300) %>
      </div>
      <div class="read_more">
        <%= link_to "Read more", blog %>
      </div>
    </div>
  <% end %>
  <div class="pagination">
    <%= will_paginate @blogs %>
  </div>
<% end %>