<% unless @events.empty? %>

  <%= form_tag update_multiple_admin_events_path, method: :put, remote: true do %>

    <%= submit_tag t('common.destroy'), name: 'destroy', data: { confirm: t('common.confirm') }, class: 'button tiny' %>

    <table>
      <thead>
        <tr>
          <th class="small-0"></th>
          <th class="small-3"><%= sortable 'title', t('events.attributes.title') %></th>
          <th class="small-4"><%= sortable 'start_time', t('events.attributes.date') %></th>
          <th class="small-3"><%= sortable 'updated_at', t('events.attributes.updated_at') %></th>
          <th class="small-3"><%= sortable 'user', t('events.attributes.user') %></th>
        </tr>
      </thead>

      <tbody>

        <% @events.each do |event| %>
          <tr>
            <td><%= check_box_tag 'event_ids[]', event.id %></td>

            <td>
              <%= link_to event.title, [:admin,event], title: t('common.show') %>              
              <%= link_to content_tag(:i, '', class: 'fi-pencil pencil', title: t('common.edit')), edit_admin_event_path(event) %>
              <%= link_to content_tag(:i, '', class: 'fi-trash trash', title: t('common.destroy')), update_multiple_admin_events_path, method: :put, remote: true, data: { confirm: t('common.confirm') } %>
            </td>

            <% if event.end_time.nil? %>
              <td>
                <%= l event.start_time, format: :semi_datetime %>
              </td>
            <% else %>
              <% if event.start_time.day == event.end_time.day %>
                <td>
                  <%= l event.start_time, format: :semi_date %>
                  <br>
                  <%= t('time.from_time') %> <%= l event.start_time, format: :full_time %>
                  <%= t('time.to_time').downcase %> <%= l event.end_time, format: :full_time %>
                </td>
              <% else %>
                <td>
                  <%= t('time.from_date') %> <%= l event.start_time, format: :semi_datetime %>
                  <br>
                  <%= t('time.to_date') %> <%= l event.end_time, format: :semi_datetime %>
                </td>
              <% end %>
            <% end %>
            <td>
              <%= l event.updated_at, format: :mini_datetime %>
            </td>

          </tr>
        <% end %>

      </tbody>
    </table>

  <% end %>

<% end %>

<%= render 'pagination' %>