<%= form_for([:admin,@event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field small-12">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field small-12">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field small-12">
    <%= f.check_box :all_day %> All day
  </div>
  <br>
  <div class="field small-12" id="start-time">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time, { date_separator: '', time_separator: '', datetime_separator: ''} %>
  </div>
  <div class="field small-12" id="end-time">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time, { date_separator: '', time_separator: '', datetime_separator: ''} %>
  </div>
  <div class="actions">
    <%= f.submit "Confirm", class: "button small" %>
  </div>
<% end %>
