<%= form_for([:admin,@event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h4><%= t 'common.error_save', count: @event.errors.count, model: Event.model_name.human %></h4>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="event-title" class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div id="event-body" class="field">
    <%= f.label :body %>
    <%= f.text_area :body, rows: 6 %>
  </div>
  <div id="event-all-day" class="field">
    <%= f.check_box :all_day %> <%= t('events.attributes.all_day') %>
  </div>
  <div id="event-start-time" class="field">
    <%= f.label :start_time %>
    <%= f.date_select :start_time, {}, {class: "small-4 columns"} %>
    <%= f.time_select :start_time, { time_separator: "", ignore_date: true }, {class: "small-6 columns", id: "time_select"}  %>
  </div>
  <div id="event-end-time" class="field">
    <%= f.label :end_time %>
    <%= f.date_select :end_time, {}, {class: "small-4 columns"}  %>
    <%= f.time_select :end_time, { time_separator: "", ignore_date: true }, {class: "small-6 columns", id: "time_select"} %>
  </div>
  <div class="actions">
    <%= f.submit class: "button right" %>
  </div>
<% end %>
<!-- Joyride -->
<div id="joyride-content">
  <ol class="joyride-list" data-joyride>
    <li data-id="event-title" data-text=<%= t 'joyride.next' %> data-options="tip_location: top; prev_button: false">
      <p><%= t 'joyride.event.title' %></p>
    </li>
    <li data-id="event-body" data-text=<%= t 'joyride.next' %> data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.event.body' %></p>
    </li>
    <li data-id="event-all-day" data-text=<%= t 'joyride.next' %> data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.event.all-day' %></p>
    </li>
    <li data-id="event-start-time" data-text=<%= t 'joyride.next' %> data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.event.start-time' %></p>
    </li>
    <li data-id="event-end-time" data-text="Ok" data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.event.end-time' %></p>
    </li>
  </ol>
</div>