<h1 class="text-center"><%= t('events.index.admin.title') %></h1>

<div class="row">
  <%= link_to t('events.index.admin.new'), new_admin_event_path, class: 'button tiny' %>
  <%= link_to t('calendar.name'), calendar_index_path, class: 'button tiny' %>

  <% unless @events.blank? %>

    <div class="small-12">

      <%= render 'search' %>

      <div id="admin_events_index">
        <%= render 'events' %>
      </div>

    </div>

  <% end %>

</div>
