<h1 class="text-center"><%= t('events.index.admin.title') %></h1>
<div class="row">
  <%= link_to t('events.index.admin.new'), new_admin_event_path, class: "button tiny" %>
  <%= link_to t('calendar.name'), calendar_index_path, class: "button tiny" %>
  
  <div class="small-12">

    <div class="small-4">
      <%= form_tag admin_events_path, method: :get, id: "items_search" do %>
        <%= text_field_tag :search, params[:search], placeholder: t('common.search') %>
        <%= submit_tag t('common.search'), name: nil, class: "hide" %><br>
      <% end %>
    </div>

    <div id="admin_events_index">
      <%= render 'events' %>
    </div>

    <%= render 'pagination' %>

  </div>
</div>
