<p id="notice"><%= notice %></p>

<div class="row">
  <%= link_to 'Edit', edit_admin_event_path(@event), class: "button tiny" %>
  <%= link_to 'Events', admin_events_path, class: "button tiny" %>
  <%= link_to 'Calendar', calendar_index_path, class: "button tiny" %>

  <div class="small-12">
    <h1 class="text-center"><%= @event.title %></h1>
    <h4>Begins :</h4>
    <p><%= @event.start_time_human %></p>
    <h4>Ends :</h4>
    <p><%= @event.end_time_human %></p>
	<h4>All Day:</h4>
  	<p><%= @event.all_day ? 'Yes' : 'No' %></p>
  </div>
</div>