<h1 class="text-center"><%= t('common.edit') %> <%= resource_name.to_s.humanize %></h1>

<div class="row">
  <div class="small-6">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>  

      <div class="field">
        <%= f.label :dob %>
        <%= f.date_select :dob, { start_year: Date.today.year - 110 , end_year: Date.today.year - 18, default: { day: 1, month: 1, year: Date.today.year - 110 }}, {class: "small-4 columns", required: ''} %>
      </div>

      <div class="field">
        <%= f.label :gender %>
        <%= f.radio_button :gender, "m" %>
        <%= f.label "M" %>
        <%= f.radio_button :gender, "f" %>
        <%= f.label "F" %>
      </div>

      <div class="field">
        <%= f.label :nationality %>
        <%= f.select :nationality, Setting.available_languages.collect {|l| [ t('language_name.' + l, locale: l.to_sym) + ' (' + t('language_name.' + I18n.locale.to_s, locale: l.to_sym) + ')', l]}, {include_blank: true} %>
      </div>

      <div class="field">
        <%= f.label :language %>
        <%= f.select :language, Setting.selected_languages.collect {|l| [ t('language_name.' + l, locale: l.to_sym) + ' (' + t('language_name.' + I18n.locale.to_s, locale: l.to_sym) + ')', l]}, selected: I18n.default_locale.to_s %>
      </div>
 
      <div class="field"><%= f.label :password %> <i><%= t('devise.leave_blank') %></i><br />
        <%= f.password_field :password, autocomplete: "off" %></div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i><%= t('devise.need_password') %></i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.check_box :newsletter_subscribed %>
        <%= f.label t('users.attributes.receive_newsletters') %><br />
      </div>
      
      <div>
        <%= f.submit class: "button right" %>
      </div>
    <% end %>

    <p><%= link_to t('devise.cancel_account'), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button left" %></p>

  </div>
</div>