<h1 class="text-center">Edit <%= resource_name.to_s.humanize %></h1>

<div class="row">
  <div class="small-6">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>  

      <div>
        <%= f.label :language %>
        <%= f.select :language, options_for_select(Setting.selected_languages, I18n.locale) %>
      </div>

      <div class="field">
        <%= f.label :dob %>
        <%= f.date_select :dob, { start_year: Date.today.year - 110 , end_year: Date.today.year - 18, default: { day: 1, month: 1, year: Date.today.year - 110 }}, {class: "small-4 columns", required: ''} %>
      </div>

      <div class="field">
        <%= f.label :gender %>
        <%= f.radio_button :gender, "m" %>
        <%= f.label "M" %>
        <%= f.radio_button :gender, "f" %>
        <%= f.label "F" %>
      </div>

      <div class="field">
        <%= f.label :nationality %>
        <%= f.select :nationality, options_for_select(Setting.available_languages, I18n.locale.to_s) %>
      </div>

      <div class="field"><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %></div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.check_box :newsletter_subscribed %>
        <%= f.label "Receive Newsletters" %><br />
      </div>
      
      <div>
        <%= f.submit "Update", class: "button right" %>
      </div>
    <% end %>

    <p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button left" %></p>

  </div>
</div>