<%= form_for([:admin,@attachment],html: { multipart: true }) do |f| %>
  <% if @attachment.errors.any? %>
    <div id="error_explanation">
      <h4><%= t 'common.error_save', count: @attachment.errors.count, model: Attachment.model_name.human %></h4>

      <ul>
      <% @attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="attachment-name" class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div id="attachment-description" class="field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 4 %>
  </div>
  <div id="attachment-file">
    <%= f.file_field :file %>
  </div>
  <div id="attachment-submit" class="actions">
    <%= f.submit class: "button right" %>
  </div>
<% end %>

<%= render 'joyride_instructions' %>