<div id="joyride-content">
  <ol class="joyride-list" data-joyride>
    <li data-id="attachment-name" data-text=<%= t 'joyride.next' %> data-options="tip_location: top; prev_button: false">
      <p><%= t 'joyride.attachment.name' %></p>
    </li>  
    <li data-id="attachment-description" data-text=<%= t 'joyride.next' %> data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.attachment.description' %></p>
    </li>
    <li data-id="attachment-file" data-text="Ok" data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.attachment.file' %></p>
    </li>
  </ol>
</div>