<h1 class="text-center"><%= t('attachments.index.admin.title') %></h1>

<div class="row">
  <%= link_to t('attachments.index.admin.new'), new_admin_attachment_path, class: "button tiny" %>
  <div class="small-12">
  <% unless @attachments.empty? %>
    <table>
      <thead>
        <tr>
          <th><%= t('attachments.attributes.name')        %></th>
          <th><%= t('attachments.attributes.description') %></th>
          <th><%= t('attachments.attributes.uploaded_by') %></th>
          <th>                             </th>
        </tr>
      </thead>

      <tbody>
        <% @attachments.each do |attachment| %>
          <tr>
            <td><%= attachment.name        %></td>
            <td><%= attachment.description %></td>
            <td><%= attachment.user.name   %></td>
            <td>
              <%= link_to t('common.show'), [:admin,attachment], class: "button tiny" %>
              <%= link_to t('common.edit'), edit_admin_attachment_path(attachment), class: "button tiny" %>
              <%= link_to t('common.destroy'), [:admin,attachment], method: :delete, data: { confirm: t('common.confirm') }, class: "button tiny alert" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  </div>
</div>
