<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attachment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attachment.description %>
</p>

<p>
  <strong>Attachment: </strong>
  <%= @attachment.file_file_name %>
</p>

<p>
  <strong>Content type: </strong>
  <%= @attachment.file_content_type %>
</p>

<%= link_to 'Edit', edit_admin_attachment_path(@attachment) %> |
<%= link_to 'Back', admin_attachments_path %>
