<br>
<div class="row">
  <%= link_to t('attachments.name'), admin_attachments_path, class: "button small" %>
  <%= link_to t('common.edit'), edit_admin_attachment_path(@attachment), class: "button small" %>
  
  <div class="small-12">
    <h1 class="text-center"><%= @attachment.name %></h1>

    <p>
      <strong><%= t('attachments.attributes.description') %>:</strong>
      <%= @attachment.description %>
    </p>

    <p>
      <strong><%= t('attachments.attributes.file_name') %>:</strong>
      <%= @attachment.file_file_name %>
    </p>

    <p>
      <strong><%= t('attachments.attributes.content_type') %>:</strong>
      <%= @attachment.file_content_type %>
    </p>

    <p>
      <strong><%= t('attachments.attributes.uploaded_by') %>:</strong>
      <%= @attachment.created_by.name %>
    </p>

    <p>
      <strong><%= t('attachments.attributes.created_at') %>:</strong>
      <%= l @attachment.created_at %>
    </p>

    <p>
      <strong><%= t('attachments.attributes.updated_at') %>:</strong>
      <%= l @attachment.updated_at %>
    </p>
  </div>
</div>