<%= form_for([:admin,@slider]) do |f| %>
  <% if @slider.errors.any? %>
    <div id="error_explanation">
      <h4><%= t 'common.error_save', count: @slider.errors.count, model: Slider.model_name.human %></h4>

      <ul>
      <% @slider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="slider_title" class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div id="slider_selected" class="field">
    <%= f.check_box :selected %>
    <%= f.label t('sliders.attributes.selected') %>
  </div>
  <div id="slider-add-image" class="field">
    <button id="add-image"><%= t('sliders.add_image') %></button>
    <button class="attachment-btn" id="insert-attachment" data-reveal-id="attachment-modal"><%= t('galleries.add_image') %></button>
  </div>

  <div id="selected-images-container" class="field">
    <%= render 'selected_images' %>
  </div>
  <div class="actions">
    <%= f.submit class: "button right" %>
  </div>

<% end %>

<%= render 'admin/attachments/image_modal' %>

<div id="dialog" title="<%= t('sliders.add_image') %>" style="display:none">
  <p class="validateTips"><%= t('sliders.select_image') %></p>
  <ol id="selectable">
    <% @images.each do |image| %>
      <li class="ui-widget-content" data-attachment-link='"<%= download_attachment_url(image)%>"' data-attachment-id="<%= image.id %>" ><%= image.file_file_name %></li>
    <% end %>
  </ol>
</div>

<% render 'joyride_instructions' %>