<%= form_for([:admin,@slider]) do |f| %>
  <% if @slider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slider.errors.count, "error") %> prohibited this admin_slider from being saved:</h2>

      <ul>
      <% @slider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="slider_title" class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div id="slider_selected" class="field">    
    <%= f.check_box :selected %> Selected
  </div>
  
  <button id="add-image">Add Image</button>

  <ul id="sortable">
    <% @added_images.each do |image| %>
      <li class="ui-state-default" id="<%= image.id %>">
        <img alt="default" src="<%= download_attachment_url(image.attachment)%>">
        <button id="remove-image<%= image.id %>" class="small" data-photo-id="<%= image.id %>">Remove Image</button>
      </li>
    <% end %>
  </ul>

  <br>
  <br>

  <div class="actions">
    <%= f.submit class: "button right" %>
  </div>

<% end %>


<div id="dialog" title="Add Image" style="display:none">
  <p class="validateTips">Select Image.</p>
  <ol id="selectable">
    <% @images.each do |image| %>
      <li class="ui-widget-content" data-attachment-link='"<%= download_attachment_url(image)%>"' data-attachment-id="<%= image.id %>" ><%= image.file_file_name %></li>
    <% end %>
  </ol>
</div>



<div id="joyride-content">
  <ol class="joyride-list" data-joyride>
    <li data-id="slider_title" data-text="Next" data-options="tip_location: top; prev_button: false">
      <p>You can edit the name you want for the slider.</p>
    </li>
    <li data-id="slider_selected" data-text="Next" data-options="tip_location: top; prev_button: false">
      <p>You can select wich slider should appear Only one will remain active.</p>
    </li>  
    <li data-id="add-image" data-text="Next" data-options="tip_location: top;">
      <p>Add images from attachments to this slider.</p>
    </li>
    <li data-button="End" data-options="tip_location: top;">
      <p>After images are added, you can reorder them by dragging and drop.</p>
    </li>
  </ol>
</div>