<%= form_for([:admin,@slider]) do |f| %>
  <% if @slider.errors.any? %>
    <div id="error_explanation">
      <h4><%= t 'common.error_save', count: @slider.errors.count, model: Slider.model_name.human %></h4>

      <ul>
      <% @slider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="slider-title" class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div id="slider-selected" class="field">
    <%= f.check_box :selected %>
    <%= f.label t('sliders.attributes.selected') %>
  </div>

  <div class="actions">
    <%= f.submit class: "button right" %>
  </div>
<% end %>


<div id="joyride-content">
  <ol class="joyride-list" data-joyride>
    <li data-id="slider-title" data-text=<%= t 'joyride.next' %> data-options="tip_location: top; prev_button: false">
      <p><%= t 'joyride.slider.title' %></p>
    </li>
    <li data-id="slider-selected" data-text="Ok" data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.slider.selected' %></p>
    </li>  
  </ol>
</div>