<h1 class="text-center">Listing sliders</h1>

<div class="row">
  <%= link_to 'New slider', new_admin_slider_path, class: "button tiny" %>
  <div class="small-12">
    <% unless @sliders.empty? %>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Selected</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @sliders.each do |slider| %>
            <tr>
              <td><%= slider.title %></td>
              <td><%= slider.selected %></td>
              <td><%= link_to 'Show', [:admin,slider], class: "button tiny" %></td>
              <td><%= link_to 'Edit', edit_admin_slider_path(slider), class: "button tiny" %></td>
              <td><%= link_to 'Destroy', [:admin,slider], method: :delete, data: { confirm: 'Are you sure?' }, class: "button tiny alert" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>