<h1 class="text-center"><%= t('forem.admin.area') %></h1>

<div class="row">
  <div class="small-12">
    <p>
      <%= t('forem.admin.welcome') %>
    </p>
    <%= link_to t('forem.admin.forum.index'), forem.admin_forums_path, class: "button" %>
    <%= link_to t('forem.admin.category.index'), forem.admin_categories_path, class: "button" %>
    <%= link_to t('forem.admin.group.index'), forem.admin_groups_path, class: "button" %>
  </div>

  <br>
  <footer id='admin_link'>
    <%= link_to t(:back_to_forums, :scope => 'forem.admin'), forem.root_path, class: "button tiny" %> 
  </footer>
</div>