<%= form_for([:admin,@link]) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="link_title" class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div id="link_value" class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="actions">
    <%= f.submit class: "button right" %>
  </div>
<% end %>


<div id="joyride-content">
  <ol class="joyride-list" data-joyride>
    <li data-id="link_title" data-text="Next" data-options="tip_location: top; prev_button: false">
      <p>Enter the title you want for the link.</p>
    </li>  
    <li data-id="link_value" data-text="Ok" data-options="tip_location: top">
      <p>Insert the value(URL) for the link.</p>
    </li>
  </ol>
</div>