<h1>Listing Links</h1>

<% unless @links.empty? %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Value</th>
        <th>Type</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @links.each do |link| %>
        <tr>
          <td><%= link.title %></td>
          <td><%= link.value %></td>
          <td><%= link.type_mask %></td>
          <td><%= link_to 'Show', [:admin,link] %></td>
          <td><%= link_to 'Edit', edit_admin_link_path(link) %></td>
          <td><%= link_to 'Destroy', [:admin,link], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>

<%= link_to 'New Link', new_admin_link_path %>
