<%= form_for([:admin,@sidebar]) do |f| %>
  <% if @sidebar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sidebar.errors.count, "error") %> prohibited this sidebar from being saved:</h2>

      <ul>
      <% @sidebar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :type_mask %>
    <%= f.select :type_mask, options_for_select([["Left", 0], ["Right", 1], ["Top", 2], ["Bottom", 3], ["ERROR TEST", 4]], @sidebar.type_mask) %>
  </div>

  <div>
    <p>Links</p>
    <% for link in Link.all %>
    <div>
      <%= check_box_tag "sidebar[link_ids][]", link.id, @sidebar.links.include?(link) %>
      <%= link.title %>
    </div>
    <% end %>
  </div>

  <div>
    <p>Static Pages</p>
    <% for static_page in StaticPage.all %>
    <div>
      <%= check_box_tag "sidebar[static_page_ids][]", static_page.id, @sidebar.static_pages.include?(static_page) %>
      <%= static_page.title %>
    </div>
    <% end %>
  </div>


  <br>
  <p>Shortcuts</p>
  <div class="field">
    <%= link_to 'Create New Link', new_admin_link_path %> <br><br>
  </div>

  <div class="actions">
    <%= f.submit class: "button right" %>
  </div>
<% end %>
