<%= form_for([:admin,@sidebar]) do |f| %>
  <% if @sidebar.errors.any? %>
    <div id="error_explanation">
      <h4><%= t 'common.error_save', count: @sidebar.errors.count, model: Sidebar.model_name.human %></h4>

      <ul>
      <% @sidebar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="sidebar-title" class="field small-12">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div id="sidebar-position" class="field small-12">
    <%= f.label :type_mask %>
    <%= f.select :type_mask, options_for_select([["Left", 0], ["Right", 1], ["Top", 2], ["Bottom", 3]], @sidebar.type_mask) %>
  </div>

  <div class="row" data-equalizer>
    <div id="sidebar-links-list" class="field small-6 columns" data-equalizer-watch>
      <%= f.label t('links.name') %>
      <% for link in Link.all %>
      <div>
        <%= check_box_tag "sidebar[link_ids][]", link.id, @sidebar.links.include?(link) %>
        <%= link.title %>
      </div>
      <% end %>
    </div>

    <div id="sidebar-pages-list" class="field small-6 columns" data-equalizer-watch>
      <%= f.label t('pages.name') %>
      <% for static_page in StaticPage.all %>
      <div>
        <%= check_box_tag "sidebar[static_page_ids][]", static_page.id, @sidebar.static_pages.include?(static_page) %>
        <%= static_page.title %>
      </div>
      <% end %>
    </div>
  </div>


  <%= f.label t('common.shortcuts') %>
  <div class="field">
    <%= link_to t('links.index.admin.new'), new_admin_link_path %> <br><br>
  </div>

  <div class="actions">
    <%= f.submit class: "button right" %>
  </div>
<% end %>


<div id="joyride-content">
  <ol class="joyride-list" data-joyride>
    <li data-id="sidebar-title" data-text=<%= t 'joyride.next' %> data-options="tip_location: top; prev_button: false">
      <p><%= t 'joyride.menu.title' %></p>
    </li>  
    <li data-id="sidebar-position" data-text=<%= t 'joyride.next' %> data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.menu.position' %></p>
    </li>
    <li data-id="sidebar-links-list" data-text=<%= t 'joyride.next' %> data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.menu.links' %></p>
    </li>
    <li data-id="sidebar-pages-list" data-text="Ok" data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.menu.pages' %></p>
    </li>
  </ol>
</div>