<h1 class="text-center">Listing sidebars</h1>

<div class="row">
  <%= link_to 'New Sidebar', new_admin_sidebar_path, class: "button tiny" %>
  <br><br>
  <div class="small-12">
    <% unless @sidebars.empty? %>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Type mask</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @sidebars.each do |sidebar| %>
            <tr>
              <td><%= sidebar.title %></td>
              <td><%= sidebar.type_mask_name %></td>
              <td>
                <%= link_to 'Show', [:admin,sidebar], class: "button tiny" %>
                <%= 
                link_to 'Edit', edit_admin_sidebar_path(sidebar), class: "button tiny" %>
                <%= link_to 'Destroy', [:admin,sidebar], method: :delete, data: { confirm: 'Are you sure?' }, class: "button tiny alert" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
