<h2 class="text-center"><%= t('forem.admin.group.members', :group => forem_emojify(@group.name)) %></h2>
<%= link_to t('back_to_groups'), admin_groups_path %>
<div class="row">
  <h3><%= t('.add_a_new_member') %></h3>
  <div class="small-6" id="add-member-form">
    <%= form_tag add_admin_group_members_url(@group) do %>
      <%= text_field_tag "user_id" %>
      <div class="small-5">
        <%= submit_tag t(".add_member"), class: "button small expand" %>  
      </div>
    <% end %>
  </div>
  <hr>
  <% unless @group.members.blank? %>
    <h3><%= t('.current_members') %></h3>
    <% unless @group.members.blank? %>
        <% @group.members.each_with_index do |member, index| %>

          <%= index > 0 ? "<hr>".html_safe : "" %>
          <div class="small-7" id="member-details">
            <div class="small-3 columns" id="member-name">
              <p><%= member.forem_name %></p>
            </div>
            <div class="small-4 columns" id="member-actions">
              <%= link_to t('forem.admin.groups.show.remove_member'), admin_group_member_url(@group, member),
                        method: :delete, data: { confirm: t('are_you_sure') }, class:"button tiny alert" %>
            </div>
          </div>
        <% end %>
      <% end %>
  <% end %>
</div>