<div id="event-detail" class="reveal-modal medium" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <div id="event-details-container">
    <h1 class="text-center"><%= @event.title %></h1>
    <h4><%= t('events.attributes.start_time') %>:</h4>
    <p><%= l @event.start_time %></p>
    <h4><%= t('events.attributes.end_time') %>:</h4>
    <p><%= l @event.end_time %></p>
    <h4><%= t('events.attributes.all_day') %>:</h4>
    <p><%= @event.all_day ? t('common.yes') : t('common.no') %></p>
    <%= render 'events/going' %>
  </div>
</div>