<div id="going">
  <p>
    <strong>
      <%= @going.first %> going | <%= @going.second %> not going | <%= @going.third %> maybe
    </strong>
  </p>

  <p>
    <strong>
      Going? <%= link_to 'Yes', event_user_going_path(@event.id), method: :put, remote: true %>
           | <%= link_to 'No', event_user_not_going_path(@event.id), method: :put, remote: true  %>
           | <%= link_to 'Maybe', event_user_maybe_path(@event.id), method: :put, remote: true %>
    </strong>
  </p>
</div>