<div style="display: inline" id="going">
  <p>
    <%= Attending.yes.count %> going | <%= Attending.no.count %> not going | <%= Attending.maybe.count %> maybe
  </p>

  <p>
    Going? <%= link_to 'Yes', event_going_path(@event), method: :put, remote: true %>
         | <%= link_to 'No', event_not_going_path(@event), method: :put, remote: true  %>
         | <%= link_to 'Maybe', event_maybe_path(@event), method: :put, remote: true %>
  </p>
</div>