<div id="going">
  <p>
    <%= (t 'events.going_number', count: @going.count) %> 
    <%= '| ' + (t 'events.not_going_number', count: @not_going.count) if @not_going.count > 0 %> 
    <%= '| ' + (t 'events.indecisive_number', count: @indecisive.count) if @indecisive.count > 0 %>
  </p>

  <% if user_signed_in? %>
    <p>
      <% if @attending.nil? %>
        <%= t('events.going?') %> 
        <%= link_to t('common.yes'), event_going_path(@event), method: :put, remote: true %> |
        <%= link_to t('common.no'), event_not_going_path(@event), method: :put, remote: true  %> |
        <%= link_to t('common.maybe'), event_maybe_path(@event), method: :put, remote: true %>
      <% elsif @attending.yes? %>
        <%= t('events.you_are_going') %>, <%= t('events.changed_your_mind?') %> 
        <%= link_to t('events.im_not_going'), event_not_going_path(@event), method: :put, remote: true  %> |
        <%= link_to t('events.im_indecisive'), event_maybe_path(@event), method: :put, remote: true %>
      <% elsif @attending.no? %>
        <%= t('events.you_are_not_going') %>, <%= t('events.changed_your_mind?') %> 
        <%= link_to t('events.im_going'), event_going_path(@event), method: :put, remote: true  %> |
        <%= link_to t('events.im_indecisive'), event_maybe_path(@event), method: :put, remote: true %>
      <% else %>
        <%= t('events.you_are_indecisive') %>, <%= t('events.going?') %>  
        <%= link_to t('events.im_going'), event_going_path(@event), method: :put, remote: true  %> |
        <%= link_to t('events.im_not_going'), event_not_going_path(@event), method: :put, remote: true %>
      <% end %>
    </p>
    <p>
      <% unless @attending.nil? %>
        <%= @attending.notification == true ? t('events.notification_true') : t('events.notification_false') %>
        <%= link_to @attending.notification == true ? t('events.notification_true_false') : t('events.notification_false_true'), event_notify_path(@event), method: :put, remote: true  %>
      <% end %>
    </p>
  <% end %>

  <% unless @going.empty? %>
    <strong><%= t('events.going') %>:</strong>
    <% @going.each do |a| %>
      <p><%= a.user.name %></p>
    <% end %>
  <% end %>

  <% unless @not_going.empty? %>
    <strong><%= t('events.not_going') %>:</strong>
    <% @not_going.each do |a| %>
      <p><%= a.user.name %></p>
    <% end %>
  <% end %>

  <% unless @indecisive.empty? %>
    <strong><%= t('events.indecisive') %>:</strong>
    <% @indecisive.each do |a| %>
      <p><%= a.user.name %></p>
    <% end %>
  <% end %>
    
</div>