<h1 class="text-center">Listing events</h1>
<div class="row">
  <%= link_to 'New Event', new_admin_event_path, class: "button tiny" %>
  <%= link_to 'Calendar', calendar_index_path, class: "button tiny" %>
  <div class="small-12">
    <% unless @events.empty? %>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= event.title %></td>
              <% if event.all_day %>
                <td>
                    From: <%= event.start_date_human %><br>
                    To:   <%= event.end_date_human %><br>
                    All Day
                </td>                
              <% else %>
                <td>
                    From: <%= event.start_time_human %><br>
                    To:   <%= event.end_time_human %>
                </td>
              <% end %>
              <td><%= link_to 'Show', event, class: "button tiny" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
