<br>
<div class="row">
  <%= link_to 'Events', events_path, class: "button small" %>
  <%= link_to 'Calendar', calendar_index_path, class: "button small" %>

  <div class="small-12">
    <h1 class="text-center"><%= @event.title %></h1>
    <h4><%= t('events.attributes.start_time') %>:</h4>
    <p><%= l @event.start_time %></p>
    <h4><%= t('events.attributes.end_time') %>:</h4>
    <p><%= l @event.end_time %></p>
    <h4><%= t('events.attributes.all_day') %>:</h4>
    <p><%= @event.all_day ? t('common.yes') : t('common.no') %></p>
  </div>

  <%= render('going') %>
</div>