<head>
  <title><%= @page.title %></title>
</head>

<body class="bodyclass">
  <header class="headerclass">
    <h1><%= @page.title %></h1>
  </header>

  <p>
    <strong>Slug:</strong>
    <%= @page.slug %>
  </p>

  <p>
    <strong>Body:</strong>
  </p>

  <%= @page.body.html_safe %>

  <br/>

  <% if can? :update, @page %>
    <%= link_to 'Edit', edit_admin_static_page_path(@page) %>
    <% if can? :destroy, @page %>
      <%= link_to 'Destroy', [:admin,@page], method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
  <br/>
  <%= link_to 'Back', root_path %>

</body>



