<%= form_for([:admin,@admin_post]) do |f| %>
  <% if @admin_post.errors.any? %>
    <div id="error_explanation">
      <h4><%= t 'common.error_save', count: @admin_post.errors.count, model: Post.model_name.human %></h4>

      <ul>
      <% @admin_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field ("title_" + I18n.locale.to_s).to_sym  %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.cktext_area ("content_" + I18n.locale.to_s).to_sym, ckeditor: {toolbar: 'Full', language: I18n.locale} %>
  </div>
  <br>
  <div id="insert-attachment">
    <button class="attachment-btn" id="insert-attachment-<%= I18n.locale %>"><%= t('common.insert_attachment') %></button>
  </div>
  <div class="actions">
    <%= f.submit class: "button right" %>
  </div>
<% end %>

<div id="dialog" title="<%= t('common.insert_attachment') %>" style="display:none">
  <p class="validateTips"><%= t('common.select_attachment') %>.</p>
  <ol id="selectable">
    <% @attachments.each do |attachment| %>
      <li class="ui-widget-content" data-attachment-link='"<%= download_attachment_url(attachment)%>"' data-attachment-type="<%= attachment.file_content_type %>" ><%= attachment.file_file_name %></li>
    <% end %>
  </ol>
</div>