<%= form_for([:admin,@admin_post]) do |f| %>
  <% if @admin_post.errors.any? %>
    <div id="error_explanation">
      <h4><%= t 'common.error_save', count: @admin_post.errors.count, model: Post.model_name.human %></h4>

      <ul>
      <% @admin_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="post-container">
    <div id="post-title" class="field">
      <%= f.label :title %>
      <%= f.text_field ("title_" + I18n.locale.to_s).to_sym  %>
    </div>
    <div id="post-body" class="field">
      <%= f.label :content %>
      <%= f.cktext_area ("content_" + I18n.locale.to_s).to_sym, ckeditor: {language: I18n.locale} %>
    </div>
    <br>
    <div id="post-attachment">
      <button class="attachment-btn" id="insert-attachment-<%= I18n.locale %>"><%= t('common.insert_attachment') %></button>
      <button class="attachment-btn" id="insert-attachment" data-reveal-id="attachment-modal"><%= t('common.insert_attachment') %></button>
    </div>
    <div class="actions">
      <%= f.submit class: "button right" %>
    </div>
  </div>
<% end %>

<!-- Joyride instructions -->
<div class="joyride-content">
  <ol id="joyride-defs" class="joyride-list" data-joyride>
    <li data-id="post-title" data-text=<%= t 'joyride.next' %> data-options="tip_location: top; prev_button: false">
      <p><%= t 'joyride.post.title' %></p>
    </li>  
    <li data-id="post-body" data-text=<%= t 'joyride.next' %> data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top;">
      <p><%= t 'joyride.post.body' %></p>
    </li>
    <li data-id="post-attachment" data-text="Ok" data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top;">
      <p><%= t 'joyride.post.attachments' %></p>
    </li> 
  </ol>
</div>

<%= render 'admin/attachments/modal' %>