<%= form_for([:admin,@post], data: {model: 'post'}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h4><%= t 'common.error_save', count: @post.errors.count, model: Post.model_name.human %></h4>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="post-container" data-lang=<%= I18n.locale %>>
    <div id="post-title-<%=I18n.locale %>" class="field">
      <%= f.label :title %>
      <%= f.text_field ("title_" + I18n.locale.to_s).to_sym  %>
    </div>
    <div id="post-content-<%=I18n.locale %>" class="field">
      <%= f.label :content %>
      <%= f.cktext_area ("content_" + I18n.locale.to_s).to_sym, ckeditor: {language: I18n.locale} %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit class: "button right" %>
    </div>
  </div>
<% end %>

<!-- Joyride instructions -->
<%= render 'joyride_instructions' %>

<!-- Modal content -->
<%= render 'admin/attachments/generic_modal' %>
<%= render 'admin/emoji/emoji_modal' %>