<ul class="tabs" data-tab>
  <% Setting.selected_languages.each do |l| %>
    <li id="lang-tab" data-lang=<%= l %> class="tab-title <%= l == I18n.locale.to_s ? "active" : "" %>"><a href="#langtab-<%= l %>"><%= t('language_name.' + I18n.locale.to_s, locale: l) %></a></li>
  <% end %>
</ul>

<%= form_for([:admin,@admin_post]) do |f| %>
  <% if @admin_post.errors.any? %>
    <div id="error_explanation">
      <h4><%= t 'common.error_save', count: @admin_post.errors.count, model: Post.model_name.human %></h4>

      <ul id="post-error-message">
        <% @admin_post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="tabs-content"> 
    <% Setting.selected_languages.each do |l| %>
      
      <%= content_tag :div, class: "content "+ (l == I18n.locale.to_s ? "active" : ""), id: "langtab-" + l do %> 
      
        <!-- Name div -->
        <%= content_tag :div, class: 'field', id: "post-title-" + l do %>
          <%= f.label t('posts.attributes.title', locale: l.to_sym) %>
          <%= f.text_field ("title_" + l).to_sym %>
        <% end %>
        <!-- Content div -->
        <%= content_tag :div, class: 'field', id: "post-body-" + l do %>
          <%= f.label t('posts.attributes.content', locale: l.to_sym) %>
          <%= f.cktext_area ("content_" + l).to_sym, ckeditor: {toolbar: 'Full', language: I18n.locale } %>
        </div>
        <br>
        <!-- Attachment -->
        <%= content_tag :div, class: 'field', id: 'post-attachment-'+l do %>
          <button class="attachment-btn" id="insert-attachment-<%=l%>"><%= t('common.insert_attachment') %></button>
        <% end %>
      <% end %>

    <% end %>
    
    <div class="actions">
      <%= f.submit class: "button right" %>
    </div>
  </div>
<% end %>

<div id="dialog" title="<%= t('common.insert_attachment') %>" style="display:none">
  <p class="validateTips"><%= t('common.select_attachment') %>.</p>
  <ol id="selectable">
    <% @attachments.each do |attachment| %>
      <li class="ui-widget-content" data-attachment-link='"<%= download_attachment_url(attachment)%>"' data-attachment-type="<%= attachment.file_content_type %>" ><%= attachment.file_file_name %></li>
    <% end %>
  </ol>
</div>

<!-- Joyride instructions -->
<div id="posts-form" class="joyride-content">
  <ol id="joyride-defs" class="joyride-list" data-joyride>
    <li id="title" data-text=<%= t 'joyride.next' %> data-options="tip_location: top; prev_button: false">
      <p><%= t 'joyride.post.title' %></p>
    </li>  
    <li id="body" data-text=<%= t 'joyride.next' %> data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top;">
      <p><%= t 'joyride.post.body' %></p>
    </li>
    <li id="attachment" data-text="Ok" data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top;">
      <p><%= t 'joyride.post.attachments' %></p>
    </li> 
  </ol>
</div>