<ul class="tabs" data-tab>
  <% Setting.selected_languages.each_with_index do |l,index| %>
    <% if index == 0 %>
      <li class="tab-title active"><a href="#langtab0"><%= l.first %></a></li>
    <% else %>
      <li class="tab-title"><a href="#langtab<%= index %>"><%= l.first %></a></li>
    <% end %>
  <% end %>
</ul>

<%= form_for([:admin,@admin_post]) do |f| %>
  <% if @admin_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_post.errors.count, "error") %> prohibited this admin_post from being saved:</h2>

      <ul>
      <% @admin_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="tabs-content"> 
    <% Setting.selected_languages.each_with_index do |l, index| %>
      <% if index == 0 %>
      <div class="content active" id="langtab0">
      <% else %>
      <div class="content" id="langtab<%= index %>">
      <% end %>
        <% title_locale = ("title_" + l.second).to_sym %>
        <% content_locale = ("content_" + l.second).to_sym %>
        <div class="field">
          <%= f.label title_locale %><br>
          <%= f.text_field title_locale %>
        </div>
        <div class="field">
          <%= f.label content_locale %><br>
          <%= f.text_area content_locale, class: "ckeditor", :input_html => { :ckeditor => {:toolbar => 'Full'} } %>
        </div>
        <br>
        <button class="attachment-btn" id="insert-attachment-<%=l.second%>">Insert Attachement</button>
      </div>
    <% end %>
    
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>

<div id="dialog" title="Insert Attachment" style="display:none">
  <p class="validateTips">Select Attachment.</p>
  <ol id="selectable">
    <% @attachments.each do |attachment| %>
      <li class="ui-widget-content" data-attachment-link='"<%= download_attachment_url(attachment)%>"' data-attachment-type="<%= attachment.file_content_type %>" ><%= attachment.file_file_name %></li>
    <% end %>
  </ol>
</div>
