<ul class="tabs" data-tab>
  <% Setting.selected_languages.each do |l| %>
    <li id="lang-tab" data-lang=<%= l %> class="tab-title <%= l == I18n.locale.to_s ? "active" : "" %>"><a href="#langtab-<%= l %>"><%= t('language_name.' + I18n.locale.to_s, locale: l) %></a></li>
  <% end %>
</ul>

<%= form_for([:admin,@admin_post]) do |f| %>
  <% if @admin_post.errors.any? %>
    <div id="error_explanation">
      <h4><%= t 'common.error_save', count: @admin_post.errors.count, model: Post.model_name.human %></h4>

      <ul id="post-error-message">
        <% @admin_post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="tabs-content"> 
    <% Setting.selected_languages.each do |l| %>
      
      <%= content_tag :div, class: "content "+ (l == I18n.locale.to_s ? "active" : ""), id: "langtab-" + l do %> 
      
        <!-- Name div -->
        <%= content_tag :div, class: 'field', id: "post-title-" + l do %>
          <%= f.label t('posts.attributes.title', locale: l.to_sym) %>
          <%= f.text_field ("title_" + l).to_sym %>
        <% end %>
        <!-- Content div -->
        <%= content_tag :div, class: 'field', id: "post-body-" + l do %>
          <%= f.label t('posts.attributes.content', locale: l.to_sym) %>
          <%= f.cktext_area ("content_" + l).to_sym, ckeditor: {language: I18n.locale} %>
        <% end %>
        <br>
        <!-- Attachment -->
        <%= content_tag :div, class: 'field', id: 'post-attachment-'+l do %>
          <button class="attachment-btn" id="insert-attachment"><%= t('common.insert_attachment') %></button>
          <%= link_to "Modal n' shit", '#', data: {reveal_id: 'attachment-modal'} %>
        <% end %>
      <% end %>

    <% end %>
    
    <div class="actions">
      <%= f.submit class: "button right" %>
    </div>
  </div>
<% end %>



<!-- Joyride instructions -->
<div id="posts-form" class="joyride-content">
  <ol id="joyride-defs" class="joyride-list" data-joyride>
    <li id="title" data-text=<%= t 'joyride.next' %> data-options="tip_location: top; prev_button: false">
      <p><%= t 'joyride.post.title' %></p>
    </li>  
    <li id="body" data-text=<%= t 'joyride.next' %> data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top;">
      <p><%= t 'joyride.post.body' %></p>
    </li>
    <li id="attachment" data-text="Ok" data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top;">
      <p><%= t 'joyride.post.attachments' %></p>
    </li> 
  </ol>
</div>
<!-- Possible MIME types

  application -> Includes tar files and LaTeX files
  audio
  image
  text
  video
 -->
<!-- Modal content -->
<div id="attachment-modal" class="reveal-modal medium" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <% unless @image_attachments.empty? && @audio_attachments.empty? && @video_attachments.empty? && @text_attachments.empyty && @application_attachments.empty? %>
    <dl class="tabs" data-tab>
      <% unless @image_attachments.empty? %>
        <dd data-id="images" id="modal-tab"><a href="#images">Images</a></dd>
      <% end %>
      <% unless @audio_attachments.empty? %>
        <dd data-id="audio" id="modal-tab"><a href="#audio">Audio</a></dd>
      <% end %>
      <% unless @video_attachments.empty? %>
        <dd data-id="videos" id="modal-tab"><a href="#videos">Videos</a></dd>
      <% end %>
      <% unless @text_attachments.empty? %>
        <dd data-id="texts" id="modal-tab"><a href="#texts">Texts</a></dd>
      <% end %>
      <% unless @application_attachments.empty? %>
        <dd data-id="others" id="modal-tab"><a href="#others">Other files</a></dd>
      <% end %>
    </dl>
    <div id="modal-tab-container" class="tabs-content">
      <% unless @image_attachments.empty? %>
        <div class="row content" id="images">
          <h3 class="-text-center">Click to add them</h3>
          <% @image_attachments.each_with_index do |img, index| %>
            <% if index == 0 %>
              <div class="small-12 columns">
            <% elsif index % 3 == 0 %>
              </div>
              <div class="small-12 columns">
            <% end %>
            <%= link_to 'javascript:void(0)', class: "small-4 columns", id: 'att-images' do %>
              <%= img.name %>
              <%= image_tag download_attachment_url(img) %>
            <% end %>
          <% end %>
          </div>
        </div>
      <% end %>
      <% unless @audio_attachments.empty? %>
        <div class="content" id="audio">
          <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
        </div>
      <% end %>
      <% unless @video_attachments.empty? %>
        <div class="content" id="videos">
          <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
        </div>
      <% end %>
      <% unless @text_attachments.empty? %>
        <div class="content" id="texts">
          <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
        </div>
      <% end %>
      <% unless @application_attachments.empty? %>
        <div class="content" id="others">
          <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>There are no attachments!</p>
  <% end %>
</div>