<ul class="tabs" data-tab>
  <% Setting.selected_languages.each do |l| %>
    <li id="lang-tab" data-lang=<%= l %> class="tab-title <%= l == I18n.locale.to_s ? "active" : "" %>"><a href="#langtab-<%= l %>"><%= t('language_name.' + I18n.locale.to_s, locale: l) %></a></li>
  <% end %>
</ul>

<div class="tabs-content"> 
  <% Setting.selected_languages.each do |l| %>
    
    <%= content_tag :div, class: "content " + (l == I18n.locale.to_s ? "active" : ""), id: "langtab-" + l do %>

      <% if @admin_post.send('content_' + l).nil? %>

        <h2 class="text-center"><%= t('common.translation_missing') %></h2>

      <% else %>

        <h3 class="text-center"><%= @admin_post.send('title_' + l) %></h3>
        <hr>
        <%= @admin_post.user.name %><br>
        <%= t('posts.attributes.created_at') %>: <%= l @admin_post.created_at %><br>
        <% if @admin_post.created_at.to_i != @admin_post.updated_at.to_i %>
          <%= t('posts.attributes.updated_at') %>: <%= l @admin_post.updated_at %>
        <% end %>
        <hr>
        <%= @admin_post.send('content_' + l).html_safe %>

      <% end %>

    <% end %>

  <% end %>
</div>