<ul class="tabs" data-tab>
  <% Setting.selected_languages.each do |l| %>
    <li id="lang-tab" data-lang=<%= l %> class="tab-title <%= l == I18n.locale.to_s ? "active" : "" %>"><a href="#langtab-<%= l %>"><%= t('language_name.' + I18n.locale.to_s, locale: l) %></a></li>
  <% end %>
</ul>

<%= form_for([:admin,@admin_post]) do |f| %>
  <% if @admin_post.errors.any? %>
    <div id="error_explanation">
      <h4><%= t 'common.error_save', count: @admin_post.errors.count, model: Post.model_name.human %></h4>

      <ul id="post-error-message">
        <% @admin_post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="post-container" class="tabs-content"> 
    <% Setting.selected_languages.each do |l| %>
      
      <%= content_tag :div, class: "content "+ (l == I18n.locale.to_s ? "active" : ""), id: "langtab-" + l do %> 
        <!-- Name div -->
        <%= content_tag :div, class: 'field', id: "post-title-" + l do %>
          <%= f.label t('posts.attributes.title', locale: l.to_sym) %>
          <%= f.text_field ("title_" + l).to_sym %>
        <% end %>
        <!-- Content div -->
        <%= content_tag :div, class: 'field', id: "post-body-" + l do %>
          <%= f.label t('posts.attributes.content', locale: l.to_sym) %>
          <%= f.cktext_area ("content_" + l).to_sym, ckeditor: {language: I18n.locale} %>
        <% end %>
      <% end %>

    <% end %>
    
    <div class="actions">
      <%= f.submit class: "button right" %>
    </div>
  </div>
<% end %>

<!-- Joyride instructions -->
<%= render 'joyride_instructions' %>

<!-- Modal content -->
<%= render 'admin/attachments/generic_modal' %>