<% if @post.send('content_' + I18n.locale.to_s).nil? %>

  <h2 class="text-center"><%= t('common.translation_missing') %></h2>

<% else %>

  <h3 class="text-center"><%= @post.send('title_' + I18n.locale.to_s) %></h3>
  <hr>
  <%= @post.user.name %><br>
  <%= t('posts.attributes.created_at') %>: <%= l @post.created_at %><br>
  <% if @post.created_at.to_i != @post.updated_at.to_i %>
    <%= t('posts.attributes.updated_at') %>: <%= l @post.updated_at %>
  <% end %>
  <hr>
  <%= @post.send('content_' + I18n.locale.to_s).html_safe %>

<% end %>