<h1 class="text-center"><%= t('posts.index.admin.title') %></h1>

<div class="row">
  <%= link_to t('posts.index.admin.new'), new_admin_post_path, class: "button tiny" %>
  <div class="small-12">
    <% unless @posts.empty? %>
      <table>
        <thead>
          <tr>
            <th></th>
            <th><%= t 'posts.attributes.title' %></th>
            <th><%= t 'posts.attributes.author' %></th>
            <th><%= t 'posts.attributes.updated_at' %></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><h4 class="text-center"><%= content_tag :i, '', class: (post.publish ?  "fi-check check" : "fi-x uncheck"), title: (post.publish ? t('common.published') : t('common.not_published')) %></h4></td>
              <td><%= post.title %></td>
              <td><%= post.user.name %></td>
              <td><%= l post.updated_at, format: :semi_datetime %></td>
              <td>
                <%= link_to t('common.show'), [:admin,post], class: "button tiny" %>
                <%= link_to t('common.edit'), edit_admin_post_path(post), class: "button tiny" %>
                <%= link_to t('common.destroy'), [:admin,post], method: :delete, data: { confirm: t('common.confirm') }, class: "button tiny alert" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>