<h1 class="text-center">Listing posts</h1>

<div class="row">
  <%= link_to 'New post', new_admin_post_path, class: "button tiny" %>
  <div class="small-12">
    <% unless @admin_posts.empty? %>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Last updated</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @admin_posts.each do |admin_post| %>
            <tr>
              <td><%= admin_post.title %></td>
              <td><%= admin_post.user.name %></td>
              <td><%= admin_post.date_updated_human %></td>
              <td>
                <%= link_to 'Show', [:admin,admin_post], class: "button tiny" %>
                <%= link_to 'Edit', edit_admin_post_path(admin_post), class: "button tiny" %>
                <%= link_to 'Destroy', [:admin,admin_post], method: :delete, data: { confirm: 'Are you sure?' }, class: "button tiny alert" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
    
</div>