<br>
<div class="row">
  <%= link_to t('posts.name'), admin_posts_path, class: "button small" %>
  <%= link_to t('common.edit'), edit_admin_post_path(@admin_post), class: "button small" %>

  <div class="small-12">
    <h3 class="text-center"><%= @admin_post.title %></h3>
    <hr>
    <%= @admin_post.user.name %><br>
    <%= t('posts.attributes.created_at') %>: <%= l @admin_post.created_at %><br>
    <% if @admin_post.created_at.to_i != @admin_post.updated_at.to_i %>
      <%= t('posts.attributes.updated_at') %>: <%= l @admin_post.updated_at %>
    <% end %>
    <hr>
    <%= @admin_post.content.html_safe %>
  </div>
</div>

