<br>
<div class="row">
  <%= link_to t('posts.name'), admin_posts_path, class: "button small" %>
  <%= link_to t('common.edit'), edit_admin_post_path(@admin_post), class: "button small" %>

  <div class="small-12">
    <h1 class="text-center"><%= @admin_post.title %></h1>

    <p class="text-center"><%= @admin_post.user.name %></p>
    <p class="text-right">
      <small>
        <% if @admin_post.created_at.to_i == @admin_post.updated_at.to_i %>
          <%=  t('posts.attributes.created_at') %>: <%= l @admin_post.created_at %>
        <% else %>
          <%= t('posts.attributes.updated_at') %>: <%= l @admin_post.updated_at %>
        <% end %>
      </small>
    </p>

    <h4 class="text-center"><%= t('posts.attributes.content') %>:</h4>
    <%= @admin_post.content.html_safe %>
  </div>
</div>

