<div class="content" id="mailer">
  <%= label_tag t('settings.confirmation_instructions') %>
  <%= label_tag t('settings.confirmation_instructions_help') %>
  <%= cktext_area :confirmation_instructions, Setting.confirmation_instructions, ckeditor: {language: I18n.locale}%>
  <br><br>
  <%= label_tag t('settings.event_update') %>
  <%= label_tag t('settings.event_update_help') %>
  <%= cktext_area :event_update, Setting.event_update, ckeditor: {language: I18n.locale} %>
</div>