<div class="content active" id="site">
  <div id="site-title" class="field">
    <%= label_tag t('settings.site_title') %>
    <%= text_field_tag :site_name, Setting.site_name %>
  </div>
  <div id="site-description" class="field">
    <%= label_tag t('settings.site_description') %>
    <%= text_area_tag :site_description, Setting.site_description, rows: 5 %>
  </div>
  <div id="site-logo" class="field">
    <!-- Checking if it's the default value -->
    <div id="logo-container">
      <% unless Setting.site_logo == 'default' %>
        <%= image_tag download_attachment_url(Setting.site_logo) %>
      <% end %>
    </div>
    <input id="site-logo-id" name="site_logo" type="hidden" value="">
    <button class="attachment-btn" id="insert-attachment" data-reveal-id="attachment-modal"><%= t('settings.site_logo') %></button>
  </div>
</div>

<%= render 'admin/attachments/image_modal' %>