<h1 class="text-center">Listing settings</h1>

<div class="row">
  <div class="small-9">
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#site">Site</a></li>
      <li class="tab-title"><a href="#internationalization">Internationalization</a></li>
      <li class="tab-title"><a href="#mailer">Mailer</a></li>
    </ul>

    <%= form_tag [:admin_settings_update], method: :put do -%>
    <div class="tabs-content">

      <div class="content active" id="site">
        <div class="field">
          <%= label_tag 'Site Name' %>
          <%= text_field_tag :site_name, Setting.site_name %>
        </div>
        <div class="field">
          <%= label_tag 'Site Subtitle' %>
          <%= text_field_tag :site_subtitle, Setting.site_subtitle %>
        </div>
        <div class="field">
          <%= label_tag 'Site Description' %>
          <%= text_area_tag :site_description, Setting.site_description, rows: 5 %>
        </div>
        <div class="field">
          <%= label_tag 'Site Logo' %>
          <%= text_field_tag :site_logo, Setting.site_logo %>
        </div>
      </div>

      <div class="content" id="internationalization">
        <div class="field">
          <%= label_tag 'Available languages' %><br>
          <% Setting.available_languages.each do |l| %>
            <%= check_box_tag 'i18n_' + l.second, 'yes', l.in?(Setting.selected_languages) %>
            <%= l.first %>
          <% end %>
        </div>
      </div>

      <div class="content" id="mailer">
        <p>Confirmation Instructions - Use *name* to refer to the user's name and *confirmation_link* to insert the confirmation link into the e-mail.</p>
        <%= text_area_tag :confirmation_instructions, Setting.confirmation_instructions, class: "ckeditor", input_html: {ckeditor: { toolbar: "Mail"} } %>
        <br><br>
        <p>Event update - *user_name*, *event_title*, *event_description*, etc..</p>
        <%= text_area_tag :event_update, Setting.event_update, class: "ckeditor", input_html: {ckeditor: { toolbar: "Mail"} } %>
      </div>

    </div>
    <div class="actions">
      <%= submit_tag "Update Settings", class: "button right" %>
    </div>
  </div>
</div>

<% end -%>