<h1 class="text-center"><%= t('settings.index.admin.title') %></h1>

<div class="row">
  <div class="small-9 columns">
  
    <ul class="tabs" data-tab>
      <li id="site-settings" class="tab-title active">
        <a href="#site"><%= t('settings.site') %></a>
      </li>
      <li id="site-internationalization" class="tab-title">
        <a href="#internationalization"><%= t('settings.internationalization') %></a>
      </li>
      <li id="site-newsletters" class="tab-title">
        <a href="#mailer"><%= t('settings.mailer') %></a>
      </li>
    </ul>

    <%= form_tag [:admin_settings_update], method: :put do -%>
      <div class="tabs-content">
        <%= render 'site_settings' %>

        <%= render 'i18n_settings' %>

        <%= render 'mail_settings' %>
      </div>

      <% if can? :update, Setting %>
        <div class="actions">
          <%= submit_tag t('settings.update_settings'), class: "button right" %>
        </div>
      <% end %>
    <% end -%>
  </div>

  <div class="small-3 columns">
    <button id="joyride-init" class="small radius">?</button>
  </div>
</div>

<div id="joyride-content">
  <ol class="joyride-list" data-joyride>
    <li data-id="site-title" data-text=<%= t 'joyride.next' %> data-options="tip_location: top; prev_button: false">
      <p><%= t 'joyride.settings.title' %></p>
    </li>  
    <li data-id="site-description" data-text=<%= t 'joyride.next' %> data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.settings.description' %></p>
    </li> 
    <li data-id="site-logo" data-text=<%= t 'joyride.next' %> data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.settings.logo' %></p>
    </li>
    <li data-id="site-internationalization" data-text=<%= t 'joyride.next' %> data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.settings.internationalization' %></p>
    </li>
    <li data-id="site-newsletters" data-text="Ok" data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.settings.newsletters' %></p>
    </li>
  </ol>
</div>