<br>
<div class="row">
  <% if can? :create, Post %>
    <%= link_to t('posts.admin'), admin_posts_path, class: "button small" %>
    <%= link_to t('posts.index.public.new'), new_admin_post_path, class: "button small" %>
  <% end %>

  <div class="small-12">
    <% unless @posts.empty? %>
      <% @posts.each do |post| %>
        <h3 class="text-center"><%= link_to_if (can? :update, post), post.title, post %></h3>
        <%= post.user.name %><br>
        <% if post.created_at.to_i == post.updated_at.to_i %>
          <%= t('posts.attributes.created_at') %>: <%= l post.created_at %>
        <% else %>
          <%= t('posts.attributes.updated_at') %>: <%= l post.updated_at %>
        <% end %>
        <% if can? :update, post %>
          <div id="admin-area">
            <%= link_to t('common.edit'), edit_admin_post_path(post) %>
            <% if can? :destroy, post %>
               | <%= link_to t('common.destroy'), [:admin,post], method: :delete, data: {confirm: t('common.confirm') } %>
            <% end %>
          </div>
        <% end %>
        <hr>
        <div id="post-content">
          <%= post.content.html_safe %>
          <%= link_to t('common.read_more'), post_toggle_read_path(post, more: true), method: :post, remote: true %>
          </span>
        </div>
      <% end %>
    <% end %>
    <div class="apple_pagination">
      <%= will_paginate @posts %>
    </div>
    <br>
  </div>
</div>