<h1>Listing posts</h1>

<% unless @posts.empty? %>
  <% @posts.each do |post| %>
    <div class="post">
      <div class="title">
        <%= link_to post.title, post %>
      </div>
      <div class="author">
        by <%= post.user.email %>
      </div>
      <div class="created_updated">
        created: <%= post.date_created_human %> last updated: <%= post.date_updated_human %>
      </div>
      <div class="content">
        <%= post.content.html_safe.truncate(300) %>
      </div>
      <div class="read_more">
        <%= link_to 'Read more', post %>
      </div>
      <div class="edit_destroy">
      <% if can? :update, post %>
        <%= link_to 'Edit', edit_admin_post_path(post) %>
        <% if can? :destroy, post %>
          <%= link_to 'Destroy', [:admin,post], method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>
      </div>
    </div>
  <% end %>
  <div class="pagination">
    <%= will_paginate @posts %>
  </div>
<% end %>