<br>
<div id="best-in-place-container" class="row">
  <%= link_to t('posts.name'), posts_path, class: "button small" %>
  <%= link_to t('posts.add_comment'), new_post_comment_path(@post), class: "button small" %>

  <div class="small-12">
    <h3 class="text-center"><%= best_in_place_if (can? :update, @post), @post, "title_"+I18n.locale.to_s, data: {bip_url: admin_post_path(@post), title: t('common.inline_editing_title')} %></h3>
    <hr>
    <%= @post.created_by.name %><br>
    <%= t('posts.attributes.created_at') %>: <%= l @post.created_at %><br>
    <% if can? :update, @post %>
      <%= link_to t('common.edit'), edit_admin_post_path(@post) %>
      <% if can? :destroy, @post %>
        | <%= link_to t('common.destroy'), [:admin,@post], method: :delete, data: { confirm: t('common.confirm') } %>
      <% end %>
    <% end %>
    <br><br>
    <div data-model=<%= @post.class.model_name.plural %> data-id=<%= @post.id%> data-lang=<%= 'content_' + I18n.locale.to_s %> id="editable" contenteditable="true">
      <p><%= @post.content.html_safe %></p>
    </div>
    <p class="text-right">
      <small>
        <% if @post.created_at.to_i != @post.updated_at.to_i %>
          <%= t('posts.attributes.updated_at') %>: <%= l @post.updated_at %>
        <% end %>
      </small>
    </p>
    <%= link_to t('posts.add_comment'), new_post_comment_path(@post), class: "button tiny" %>
    <!-- Comments -->
    <% unless @postcomments.blank? %>
      <hr>
      <div class="small-7 small-offset-2" id="comments-container">

        <h5 class="text-center">Comments</h5>
      
        <% @postcomments.each do |comment| %>
          <div class="small-12">
            <hr>
            <%= comment.created_by.name %><br>
            <% if comment.created_at.to_i == comment.updated_at.to_i %>
              <%= t('comments.attributes.created_at') %>
            <% else %>
              <%= t('comments.attributes.updated_at')%>
            <% end %>
            : <%= l comment.updated_at %><br><br>
            <%= comment.content.html_safe %><br>
            <hr>
            
            <div id="button-container">
              <% if can? :update, comment %>
                <%= link_to t('common.edit'), edit_comment_path(comment), class: "button tiny" %>
              <% end %>
              <% if can? :destroy, comment %>
                <%= link_to t('common.destroy'), comment, method: :delete, data: { confirm: t('common.confirm') }, class: "button tiny alert" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>