<p id="notice"><%= notice %></p>

<div class="post">
  <div class="title">
    Title: <%= @post.title %>
  </div>
  <div class="author">
    Author: <%= @post.user.email %>
  </div>
  <div class="created_updated">
    Created at: <%= @post.date_created_human %>
    Updated at: <%= @post.date_updated_human %>
  </div>
  <div class="content">
    <%= @post.content %>
  </div>
  <% if can? :update, @post %>
    <td><%= link_to 'Edit', edit_admin_post_path(@post) %></td>
    <% if can? :destroy, @post %>
      <td><%= link_to 'Destroy', [:admin,@post], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  <% end %>
  <div class="comments">
    <% unless @postcomments.empty? %>
      <% @postcomments.each do |comment| %>
        <div class="user">
          <%= comment.user.email %>
        </div>
        <div class="created_updated">
          Created at: <%= comment.date_created_human %>
          Updated at: <%= comment.date_updated_human %>
        </div>
        <div class="content">
          <%= comment.content %>
        </div>
        <div class="edit_destroy">
          <% if can? :update, comment %>
            <%= link_to 'Edit', edit_comment_path(comment) %>
            <% if can? :destroy, comment %>
              <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to 'Add Comment', new_post_comment_path(@post) %>
  <p></p>
  <%= link_to 'Back', posts_path %>
</div>