<h1>Listing public_blogs</h1>

<% unless @public_blogs.empty? %>
  <% @public_blogs.each do |public_blog| %>
    <div class="blog">
      <div class="title">
        <%= link_to public_blog.title, [:public,public_blog] %>
      </div>
      <div class="author">
        by <%= public_blog.user.email %>
      </div>
      <div class="created_updated">
        created: <%= public_blog.date_created_human %> last updated: <%= public_blog.date_updated_human %>
      </div>
      <div class="content">
        <p><%= public_blog.content %></p>
      </div>
    </div>
  <% end %>
  <div class="pagination">
    <%= will_paginate @public_blogs %>
  </div>
<% end %>