<%= form_for([:admin,@newsletter], data: {model: 'newsletter'}) do |f| %>
  <% if @newsletter.errors.any? %>
    <div id="error_explanation">
      <h4><%= t 'common.error_save', count: @newsletter.errors.count, model: Newsletter.model_name.human %></h4>

      <ul>
      <% @newsletter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="newsletter-container" data-lang=<%= I18n.locale %>>
    <div id="newsletter-name-<%= I18n.locale.to_s %>" class="field">
      <%= f.label :name %>
      <%= f.text_field ('name_' + I18n.locale.to_s).to_sym %>
    </div>
    <div id="newsletter-subject-<%= I18n.locale.to_s %>" class="field">
      <%= f.label :subject %>
      <%= f.text_field ('subject_' + I18n.locale.to_s).to_sym  %>
    </div>
    <div id="newsletter-body-<%= I18n.locale.to_s %>" class="field">
      <%= f.label :body %>
      <%= f.cktext_area ('body_' + I18n.locale.to_s).to_sym, ckeditor: {language: I18n.locale} %>
    </div>
  </div>

  <br>
  <div id="newsletter-destinatary">
    <p><%= t('newsletters.to') %>:</p>
    <% for user in User.all %>
    <div>
      <%= check_box_tag "newsletter[user_ids][]", user.id, @newsletter.users.include?(user) %>
      <%= user.email %>
    </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit class: "button right" %>
  </div>
<% end %>

<!-- Joyride instructions -->
<%= render 'joyride_instructions' %>

<!-- Modal content -->
<%= render 'admin/attachments/generic_modal' %>
<%= render 'admin/emoji/emoji_modal' %>