<%= form_for([:admin,@newsletter]) do |f| %>
  <% if @newsletter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newsletter.errors.count, "error") %> prohibited this newsletter from being saved:</h2>

      <ul>
      <% @newsletter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div id="newsletter_title" class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div id="newsletter_body" class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, class: "ckeditor", :input_html => { :ckeditor => {:toolbar => 'Full'} } %>
  </div>

  <div id="newsletter_destinatary">
    <p> To:</p>
    <% for user in User.all %>
    <div>
      <%= check_box_tag "newsletter[user_ids][]", user.id, @newsletter.users.include?(user) %>
      <%= user.email %>
    </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<div id="joyride-content">
  <ol class="joyride-list" data-joyride>
    <li data-id="newsletter_title" data-text="Next" data-options="tip_location: top; prev_button: false">
      <p>Enter the title of the Newsletter.</p>
    </li>  
    <li data-id="newsletter_body" data-text="Next" data-options="tip_location: top; prev_button: true">
      <p>Fill with the content for the Newsletter.</p>
    </li>
    <li data-id="newsletter_destinatary" data-text="Ok" data-options="tip_location: top; prev_button: true">
      <p>Select the users you want to send this Newsletter.</p>
    </li>
    <li data-button="End" data-prev-text="Prev">
      <h4>That's it!</h4>
      <p>You can send it whenever you want either in the Newsletters Index or in the Newsletter specific page!</p>
    </li>
  </ol>
</div>