<%= form_for([:admin,@newsletter]) do |f| %>
  <% if @newsletter.errors.any? %>
    <div id="error_explanation">
      <h4><%= t 'common.error_save', count: @newsletter.errors.count, model: Newsletter.model_name.human %></h4>

      <ul>
      <% @newsletter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="newsletter-name" class="field">
    <%= f.label :name %>
    <%= f.text_field (':name_' + I18n.locale.to_s).to_sym %>
  </div>
  <div id="newsletter-subject" class="field">
    <%= f.label :subject %>
    <%= f.text_field ('subject_' + I18n.locale.to_s).to_sym  %>
  </div>
  <div id="newsletter-body" class="field">
    <%= f.label :body %>
    <%= f.cktext_area ('body_' + I18n.locale.to_s).to_sym, ckeditor: {language: I18n.locale} %>
  </div>

  <br>
  <div id="newsletter-destinatary">
    <p><%= t('newsletters.to') %>:</p>
    <% for user in User.all %>
    <div>
      <%= check_box_tag "newsletter[user_ids][]", user.id, @newsletter.users.include?(user) %>
      <%= user.email %>
    </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit class: "button right" %>
  </div>
<% end %>


<div id="joyride-content">
  <ol class="joyride-list" data-joyride>
    <li data-id="newsletter-name" data-text=<%= t 'joyride.next' %> data-options="tip_location: top; prev_button: false">
      <p><%= t 'joyride.newsletter.name' %></p>
    </li>  
    <li data-id="newsletter-body" data-text=<%= t 'joyride.next' %> data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.newsletter.body' %></p>
    </li>
    <li data-id="newsletter-destinatary" data-text="Ok" data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.newsletter.destinatary' %></p>
    </li>
  </ol>
</div>