<ul class="tabs" data-tab>
  <% Setting.selected_languages.each do |l| %>
    <li id="lang-tab" data-lang=<%= l %> class="tab-title <%= l == I18n.locale.to_s ? "active" : "" %>"><a href="#langtab-<%= l %>"><%= t('language_name.' + I18n.locale.to_s, locale: l) %></a></li>
  <% end %>
</ul>

<% unless @newsletter.users.blank? %>
  <hr>
  <div>
    <strong><%= t('newsletters.to') %>:</strong>
    <% @newsletter.users.each do |user| %>
      <%= link_to user.email, [:admin,user] %><%= ', ' if user != @newsletter.users.last %>
    <% end %>
  </div>
<% end %>

<div class="tabs-content">
  <% Setting.selected_languages.each do |l| %>

    <%= content_tag :div, class: "content" + (l == I18n.locale.to_s ? " active" : ""), id: "langtab-" + l do %> 

      <% if @newsletter.send('body_' + l).blank? %>

        <h2 class="text-center"><%= t('common.translation_missing') %></h2>

      <% else %>

        <strong><%= t('newsletters.attributes.subject') %>:</strong> <%= @newsletter.send('subject_' + l) %>
        <hr>
        <%= @newsletter.send('body_' + l).html_safe %>

      <% end %>

    <% end %>
  <% end %>
</div>

<div id="send_newsletter">
  <%= 
    unless @newsletter.users.blank?
      link_to t('newsletters.send'), send_newsletter_admin_newsletter_path(@newsletter), remote: true, class: 'button small'
    else
      link_to t('newsletters.cant_send'), edit_admin_newsletter_path(@newsletter), class: 'button small alert'
    end
  %>
</div>