<ul class="tabs" data-tab>
  <% Setting.selected_languages.each do |l| %>
    <li id="lang-tab" data-lang=<%= l %> class="tab-title <%= l == I18n.locale.to_s ? "active" : "" %>"><a href="#langtab-<%= l %>"><%= t('language_name.' + I18n.locale.to_s, locale: l) %></a></li>
  <% end %>
</ul>

<%= form_for([:admin,@newsletter], data: {model: 'newsletter'}) do |f| %>
  <% if @newsletter.errors.any? %>
    <div id="error_explanation">
      <h4><%= t 'common.error_save', count: @newsletter.errors.count, model: Newsletter.model_name.human %></h4>

      <ul>
      <% @newsletter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="tabs-content">

    <% Setting.selected_languages.each do |l| %>

      <%= content_tag :div, class: "content" + (l == I18n.locale.to_s ? " active" : ""), id: "langtab-" + l do %>

        <%= content_tag :div, class: 'field', id: 'newsletter-name-'+ l do %>
          <%= f.label t('newsletters.attributes.name', locale: l.to_sym) %>
          <%= f.text_field ('name_' + l).to_sym %>
        <% end %>

        <%= content_tag :div, class: 'field', id: 'newsletter-subject-'+ l do %>
          <%= f.label t('newsletters.attributes.subject', locale: l.to_sym) %>
          <%= f.text_field ('subject_' + l).to_sym %>
        <% end %>

        <%= content_tag :div, class: 'field', id: 'newsletter-body-'+ l do %>
          <%= f.label t('newsletters.attributes.body', locale: l.to_sym) %>
          <%= f.cktext_area ('body_' + l).to_sym, ckeditor: {language: I18n.locale} %>
        <% end %>

      <% end %>
    <% end %>

    <br>
    <div id="newsletter-destinatary">
      <p><%= t('newsletters.to') %>:</p>
      <% for user in User.all %>
      <div>
        <%= check_box_tag "newsletter[user_ids][]", user.id, @newsletter.users.include?(user) %>
        <%= user.email %>
      </div>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit class: "button right" %>
    </div>
  </div>
<% end %>

<%= render 'joyride_instructions' %>

<!-- Modal content -->
<%= render 'admin/attachments/generic_modal' %>
<%= render 'admin/emoji/emoji_modal' %>