<% if @newsletter.send('body_' + I18n.locale.to_s).nil? %>

  <h2 class="text-center"><%= t('common.translation_missing') %></h2>

<% else %>

  <% unless @newsletter.users.empty? %>
    <hr>
    <div>
      <strong><%= t('newsletters.to') %>:</strong>
      <% @newsletter.users.each do |user| %>
        <%= link_to user.email, [:admin,user] %><%= ', ' if user != @newsletter.users.last %>
      <% end %>
    </div>
  <% end %>

  <strong><%= t('newsletters.attributes.subject') %>:</strong> <%= @newsletter.send('subject_' + I18n.locale.to_s) %>
  <hr>
  <%= @newsletter.send('body_' + I18n.locale.to_s).html_safe %>

  <div id="send_newsletter">
    <%= unless @newsletter.users.empty?
          link_to t('newsletters.send'), send_newsletter_admin_newsletter_path(@newsletter), remote: true, class: 'button small'
        else
          link_to t('newsletters.cant_send'), edit_admin_newsletter_path(@newsletter), class: 'button small alert'
        end
    %>
  </div>

<% end %>