<h1 class="text-center"><%= t('newsletters.index.admin.title') %></h1>

<div class="row">
  <%= link_to t('newsletters.index.admin.new'), new_admin_newsletter_path, class: "button tiny" %>
  <div class="small-12">
    <% unless @newsletters.empty? %>
      <table>
        <thead>
          <tr>
            <th><%= t('newsletters.attributes.name') %></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @newsletters.each do |newsletter| %>
            <tr>
              <td><%= newsletter.name %></td>
              <td>
                <%= link_to t('common.show'), [:admin,newsletter], class: "button tiny" %>
                <%= link_to t('common.edit'), edit_admin_newsletter_path(newsletter), class: "button tiny" %>
                <%= link_to t('common.destroy'), [:admin,newsletter], method: :delete, data: { confirm: t('common.confirm') }, class: "button tiny alert" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
