<br>
<div class="row">
  <%= link_to t('newsletters.name'), admin_newsletters_path, class: "button small" %>
  <%= link_to t('common.edit'), edit_admin_newsletter_path(@newsletter), class: "button small" %>
  
<head>
  <title><%= @newsletter.title %></title>
</head>

<body class="bodyclass">
  <header class="headerclass">
    <h1><%= @newsletter.title %></h1>
  </header>

  <p>
    <strong>Body:</strong>
  </p>

  <%= @newsletter.body.html_safe %>

  <br/>

  <div>
    <p>
      <strong>To:</strong>
    </p>
    <ul>
      <% @newsletter.users.each do |user| %>
        <li><%= link_to user.email, [:admin,user] %></li>
      <% end %>
    </ul>
  </div>
  
  <br/>

  <div id="send_newsletter">
    <%= if !@newsletter.users.empty?
          link_to 'Send', send_newsletter_admin_newsletter_path(@newsletter), remote: true
        else
          'Cant Send - Add Users Before Sending'
        end
    %>
  </div>
</body>

