<ul class="tabs" data-tab>
  <% Setting.selected_languages.each_with_index do |l,index| %>
    <% if index == 0 %>
      <li class="tab-title active"><a href="#langtab0"><%= l.first %></a></li>
    <% else %>
      <li class="tab-title"><a href="#langtab<%= index %>"><%= l.first %></a></li>
    <% end %>
  <% end %>
</ul>

<%= form_for([:admin,@admin_static_page]) do |f| %>
  <% if @admin_static_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_static_page.errors.count, "error") %> prohibited this admin_static_page from being saved:</h2>
      <ul>
      <% @admin_static_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="tabs-content"> 
    <% Setting.selected_languages.each_with_index do |l, index| %>
      <% if index == 0 %>
      <div class="content active" id="langtab0">
      <% else %>
      <div class="content" id="langtab<%= index %>">
      <% end %>
        <% title_locale = ("title_" + l.second).to_sym %>
        <% body_locale = ("body_" + l.second).to_sym %>
        <div class="field">
          <%= f.label title_locale %><br>
          <%= f.text_field title_locale %>
        </div>
        <div class="field">
          <%= f.label :slug %><br>
          <%= f.text_field :slug %>
        </div>
        <div class="field">
          <%= f.label body_locale %><br>
          <%= f.text_area body_locale, class: "ckeditor", :input_html => { :ckeditor => {:toolbar => 'Full'} } %>
        </div>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>