<h1 class="text-center">Listing pages</h1>

<div class="row">
  <%= link_to 'New Static page', new_admin_static_page_path, class: "button tiny" %>
  <div class="small-12">
    <% unless @admin_static_pages.empty? %>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Slug</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @admin_static_pages.each do |admin_static_page| %>
            <tr>
              <td><%= admin_static_page.title %></td>
              <td><%= admin_static_page.slug %></td>
              <td><%= link_to 'Show', [:admin,admin_static_page], class: "button tiny" %></td>
              <td><%= link_to 'Edit', edit_admin_static_page_path(admin_static_page), class: "button tiny" %></td>
              <td><%= link_to 'Destroy', [:admin,admin_static_page], method: :delete, data: { confirm: 'Are you sure?' }, class: "button tiny alert" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>