<p id="notice"><%= notice %></p>

<head>
  <title><%= @admin_static_page.title %></title>
</head>

<body class="bodyclass">
  <header class="headerclass">
    <h1 class="text-center"><%= @admin_static_page.title %></h1>
  </header>

  <div class="row">
    <%= link_to 'Back', admin_static_pages_path, class: "button tiny alert" %>
    <%= link_to 'Edit', edit_admin_static_page_path(@admin_static_page), class: "button tiny" %>
    
    <div class="small-12">
      <strong>Slug:</strong>
      <p><%= @admin_static_page.slug %></p>
    </div>
    <div class="small-12">
      <h4 class="text-center">Body</h4>
      <%= @admin_static_page.body.html_safe %>      
    </div>
  </div>
</body>

