<p id="notice"><%= notice %></p>

<head>
  <title><%= @admin_static_page.title %></title>
</head>

<body class="bodyclass">
  <header class="headerclass">
    <h1><%= @admin_static_page.title %></h1>
  </header>

  <p>
    <strong>Slug:</strong>
    <%= @admin_static_page.slug %>
  </p>

  <p>
    <strong>Body:</strong>
  </p>

  <%= @admin_static_page.body.html_safe %>

  <br/>
  <br/>
  <%= link_to 'Edit', edit_admin_static_page_path(@admin_static_page) %> |
  <%= link_to 'Back', admin_static_pages_path %>
</body>

