<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_static_page.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @admin_static_page.slug %>
</p>

<p>
  <strong>Body:</strong>
  <%= @admin_static_page.body %>
</p>

<%= link_to 'Edit', edit_admin_static_page_path(@admin_static_page) %> |
<%= link_to 'Back', admin_static_pages_path %>
