<%= form_for([:admin,@user]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h4><%= t 'common.error_save', count: @user.errors.count, model: User.model_name.human %></h4>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="user-name" class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div id="user-email" class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: :off %>
  </div>
  <% if @user.confirmed_at.nil? %>
    <div class="field">
      <%= check_box_tag 'confirm_email' %>
      <%= label_tag t('users.email.confirm_email') %>
    </div>
  <% end %>
  <div id="user-dob" class="field">
    <%= f.label :dob %>
    <%= f.date_select :dob, {start_year: Date.today.year - 6, end_year: Date.today.year - 110, include_blank: true}, {class: "small-4 columns"} %>
  </div>
  <div id="user-gender" class="field">
    <%= f.label :gender %>
    <%= f.radio_button :gender, "m" %>
    <%= f.label "M" %>
    <%= f.radio_button :gender, "f" %>
    <%= f.label "F" %>
  </div>
  <div id="user-country" class="field">
    <%= f.label :country %>
    <%= f.select :country, Setting.available_languages.collect {|l| [ t('language_name.' + l, locale: l.to_sym) + ' (' + t('language_name.' + I18n.locale.to_s, locale: l.to_sym) + ')', l]}, {include_blank: true} %>
  </div>
  <div id="user-language" class="field">
    <%= f.label :language %>
    <%= f.select :language, Setting.selected_languages.collect {|l| [ t('language_name.' + l, locale: l.to_sym) + ' (' + t('language_name.' + I18n.locale.to_s, locale: l.to_sym) + ')', l]}, selected: I18n.default_locale.to_s %>
  </div>
  <div id="user-time-zone" class="field">
    <%= f.label :time_zone %>
    <%= f.select :time_zone, ActiveSupport::TimeZone.all.group_by(&:utc_offset).values.map {|t| [t.map.with_index {|t,i| i == 0 ? t.to_s : t.to_s.split.drop(1).join(' ')}.join(", ").truncate(100), t.first.name]}, selected: @user.time_zone %>
  </div>
  <div id="user-password" class="field">
    <%= f.label :password, "Password" %>
    <%= f.password_field :password, autocomplete: :off %>
  </div>
  <div id="user-password-confirmation" class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div id="user-role" class="field">
    <%= f.label :role %>
    <%= f.select :role, User::ROLES.collect {|r| [ t('users.roles.' + r), r ] } %>
  </div>
  <div class="field">
    <%= f.check_box :newsletter_subscribed %>
    <%= f.label t('users.attributes.receive_newsletters') %><br />
  </div>
  <div class="actions">
    <%= f.submit class: "button right" %>
  </div>
<% end %>


<div id="joyride-content">
  <ol class="joyride-list" data-joyride>
    <li data-id="user-name" data-text=<%= t 'joyride.next' %> data-options="tip_location: top; prev_button: false">
      <p><%= t 'joyride.users.name' %></p>
    </li>  
    <li data-id="user-email" data-text=<%= t 'joyride.next' %> data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.users.email' %></p>
    </li>
    <li data-id="user-dob" data-text=<%= t 'joyride.next' %> data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.users.dob' %></p>
    </li>
    <li data-id="user-gender" data-text=<%= t 'joyride.next' %> data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.users.gender' %></p>
    </li>
    <li data-id="user-nationality" data-text=<%= t 'joyride.next' %> data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.users.nationality' %></p>
    </li>
    <li data-id="user-language" data-text=<%= t 'joyride.next' %> data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.users.language' %></p>
    </li>
    <li data-id="user-password" data-text=<%= t 'joyride.next' %> data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.users.password' %></p>
    </li>
    <li data-id="user-password-confirmation" data-text=<%= t 'joyride.next' %> data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.users.password-confirmation' %></p>
    </li>
    <li data-id="user-role" data-text="Ok" data-prev-text=<%= t 'joyride.prev' %> data-options="tip_location: top">
      <p><%= t 'joyride.users.role' %></p>
    </li>
  </ol>
</div>