<%= form_for([:admin,@admin_user]) do |f| %>
  <% if @admin_user.errors.any? %>
    <div id="error_explanation">
      <h4><%= t 'common.error_save', count: @admin_user.errors.count, model: User.model_name.human %></h4>

      <ul>
      <% @admin_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="user_name" class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div id="user_email" class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div id="user_birth_date" class="field">
    <%= f.label :dob %>
    <%= f.date_select :dob, {start_year: Date.today.year - 6, end_year: Date.today.year - 110, include_blank: true}, {class: "small-4 columns"} %>
  </div>
  <div id="user_gender" class="field">
    <%= f.label :gender %>
    <%= f.radio_button :gender, "m" %>
    <%= f.label "M" %>
    <%= f.radio_button :gender, "f" %>
    <%= f.label "F" %>
  </div>
  <div id="user_nationality" class="field">
    <%= f.label :nationality %>
    <%= f.select :nationality, Setting.available_languages.collect {|l| [ t('language_name.' + l, locale: l.to_sym) + ' (' + t('language_name.' + I18n.locale.to_s, locale: l.to_sym) + ')', l]}, {include_blank: true} %>
  </div>
  <div id="user_language" class="field">
    <%= f.label :language %>
    <%= f.select :language, Setting.selected_languages.collect {|l| [ t('language_name.' + l, locale: l.to_sym) + ' (' + t('language_name.' + I18n.locale.to_s, locale: l.to_sym) + ')', l]}, selected: I18n.default_locale.to_s %>
  </div>
  <div id="user_password" class="field">
    <%= f.label :password, "Password" %>
    <%= f.password_field :password %>
  </div>
  <div id="user_password_confirmation" class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div id="user_role" class="field">
    <%= f.label :role %>
    <%= f.select :role, User::ROLES.collect {|r| [ t('users.roles.' + r), r ] } %>
  </div>
  <div class="field">
    <%= f.check_box :newsletter_subscribed %>
    <%= f.label t('users.attributes.receive_newsletters') %><br />
  </div>
  <div class="actions">
    <%= f.submit class: "button right" %>
  </div>
<% end %>


<div id="joyride-content">
  <ol class="joyride-list" data-joyride>
    <li data-id="user_name" data-text="Next" data-options="tip_location: top; prev_button: false">
      <p>Enter the name of the user.</p>
    </li>  
    <li data-id="user_email" data-text="Next" data-options="tip_location: top; prev_button: true">
      <p>Enter the email of the user.</p>
    </li>
    <li data-id="user_birth_date" data-text="Ok" data-options="tip_location: top; prev_button: true">
      <p>Select the birthdate.</p>
    </li>
    <li data-id="user_gender" data-text="Ok" data-options="tip_location: top; prev_button: true">
      <p>Select gender.</p>
    </li>
    <li data-id="user_nationality" data-text="Ok" data-options="tip_location: top; prev_button: true">
      <p>Select nationality.</p>
    </li>
    <li data-id="user_language" data-text="Ok" data-options="tip_location: top; prev_button: true">
      <p>Select language.</p>
    </li>
    <li data-id="user_password" data-text="Ok" data-options="tip_location: top; prev_button: true">
      <p>Password to LogIn.</p>
    </li>
    <li data-id="user_password_confirmation" data-text="Ok" data-options="tip_location: top; prev_button: true">
      <p>Confirm Password to LogIn.</p>
    </li>
    <li data-id="user_role" data-text="Ok" data-options="tip_location: top; prev_button: true">
      <p>Select the role for this user.</p>
    </li>
  </ol>
</div>