<%= form_for([:admin,@admin_user]) do |f| %>
  <% if @admin_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @admin_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label "Date of Birth" %>
    <%= f.date_select :dob, { start_year: Date.today.year - 110 , end_year: Date.today.year - 18, default: { day: 1, month: 1, year: Date.today.year - 110 }}, {class: "small-4 columns", required: ''} %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.radio_button :gender, "m", required: '' %>
    <%= f.label "M" %>
    <%= f.radio_button :gender, "f", required: '' %>
    <%= f.label "F" %>
  </div>
  <div class="nationality">
    <%= f.label :nationality %>
    <%= f.select :nationality, options_for_select(Setting.available_languages, I18n.locale.to_s) %>
  </div>
  <div class="language">
    <%= f.label :language %>
    <%= f.select :language, options_for_select(Setting.selected_languages, I18n.locale.to_s) %>
  </div>
  <div class="field">
    <%= f.label :password, "Password" %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :role %>
    <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
  </div>
  <div class="actions">
    <%= f.submit "Confirm", class: "button small" %>
  </div>
<% end %>