<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_blog.title %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @admin_blog.date_created_human %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @admin_blog.date_updated_human %>
</p>

<p>
  <strong>Content:</strong>
  <%= @admin_blog.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @admin_blog.user %>
</p>

<%= link_to 'Edit', edit_admin_blog_path(@admin_blog) %> |
<%= link_to 'Back', admin_blogs_path %>
