<nav class="top-bar admin-top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "OgmaCMS", main_app.root_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="has-form">
        <div class="row collapse">
          <div class="large-8 small-9 columns">
            <%= form_tag search_index_path, method: :get do %>
            <p>
              <%= text_field_tag :search, params[:search] %>              
            </p>
          </div>
          <div class="large-4 small-3 columns">
            <%= submit_tag "Search", name: nil, class: 'alert button expand' %>
          </div>
        </div>
        <% end %>
      </li>
      <li class="has-dropdown">
        <a href="#">Language</a>
        <ul class="dropdown">
          <% if Setting.selected_languages.length > 1 %>
            <% Setting.selected_languages.each do |l| %>
              <% if l.second == I18n.locale.to_s %>
                <li class="active"><%= link_to l.first, locale: l.second %></li>
              <% else %>
                <li><%= link_to l.first, locale: l.second %></li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </li>
      <li>
        <%= link_to 'Visitor Comment', main_app.visitor_comments_path %>
      </li>
      <li>
        <%= link_to 'Posts', main_app.posts_path %>
      </li>
      <li>
        <%= link_to 'Forums', forem.forums_path %>
      </li>
      <% if user_signed_in? %>
        <li><%= link_to current_user.email, main_app.edit_user_registration_path %></li>
        <li><%= link_to "Log Out", main_app.destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Log In", main_app.new_user_session_path %></li>
        <li><%= link_to "Register", main_app.new_user_registration_path %></li>
      <% end %>
    </ul>
    <ul class="left">
    </ul>
  </section>
</nav>
