<nav class="top-bar admin-top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">OgmaCMS</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li>
        <%= link_to 'Search', main_app.search_index_path %>
      </li>
      <li>
        <%= link_to 'Visitor Comment', main_app.visitor_comments_path %>
      </li>
      <li>
        <%= link_to 'Forums', forem.forums_path %>
      </li>
      <% if user_signed_in? %>
        <li><%= link_to current_user.email, main_app.edit_user_registration_path %></li>
        <li><%= link_to "Log Out", main_app.destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "LogIn", main_app.new_user_session_path %></li>
        <li><%= link_to "Register", main_app.new_user_registration_path %></li>
      <% end %>
    </ul>
    <ul class="left">
    </ul>
  </section>
</nav>
