<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= Setting.site_name %> | <%= t(controller.controller_name + '.name') %> > <%= t('common.' + controller.action_name) %>
    </title>
    <%= stylesheet_link_tag    "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "vendor/modernizr" %> 
    <%= csrf_meta_tags %>
  </head>
  <body id="<%= controller.controller_name %>" data-action="<%= controller.action_name %>">
    <%= render 'layouts/admin_topbar' %>
    <%= render 'layouts/messages' %>

    <%= yield %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  </body>
</html>
