<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OgmaCMS</title>
    <%= stylesheet_link_tag    "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application.css" %>
    <%= javascript_include_tag "jquery.js" %>
    <%= javascript_include_tag "jquery-ui.js" %>
    <%= javascript_include_tag "fullcalendar.js" %>
    <%= javascript_include_tag "application.js" %>
    <%= javascript_include_tag "calendar.js" %>

    <script type="text/javascript">

      $(document).ready(function(){

        var dialog, form,
        title = $( "#title" ),
        body = $( "#body" ),
        sTime, eTime;

        function addEvent() {
          var s_title = title.val();
          var s_body = body.val();
          var start = sTime;
          var end = eTime;
          
          var eventData;
          
          if(s_title)
          {
            eventData =
            {
              title: s_title,
              start: start,
              end: end,
              allDay: true
            };
            $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
  
            // if multiple days are selected, the end hour needs to be changed (default = 00h) or the full calendar won't include the last day
            var multipleDays = start.getDate() != end.getDate()

            // Format for rails compatibility
            //2014-08-07 22:17:18.530962
            var sDateString = '' + start.getFullYear() + '-' + (start.getMonth()+1) + '-' + start.getDate() + ' ' + start.getHours() + ':' + start.getMinutes() + ':' + start.getSeconds() + '.' + start.getMilliseconds();

            var eDateString = '' + end.getFullYear() + '-' + (end.getMonth()+1) + '-' + end.getDate() + ' ' + ( (multipleDays) ? end.getHours()+1 : end.getHours() ) + ':' + end.getMinutes() + ':' + end.getSeconds() + '.' + end.getMilliseconds();

            /**
             * ajax call to store event in DB
             */
            deferred = jQuery.post(
                "admin/events" // your url
                , 
                { // re-use event's data
                  // { event: { title: title, body: "whatever", start_time: start, end_time end } },
                  event:
                  {
                    title: s_title,
                    body: s_body,
                    start_time: sDateString,
                    end_time: eDateString
                  }
                    
                }
                  
            );

            deferred.success(function () {
                dialog.dialog( "close" );
            });

            deferred.error(function () {
                // Handle any errors here.
            });
     
          }
          else
          {
            $( "#alertMiss" ).text("- Title Required!");
          }

          $('#calendar').fullCalendar('unselect');


          return valid;
        }

        dialog = $( "#dialog-form" ).dialog({
          autoOpen: false,
          height: 300,
          width: 350,
          modal: true,
          buttons: {
            "Create Event": addEvent,
            Cancel: function() {
              dialog.dialog( "close" );
            }
          },
          close: function() {
            form[ 0 ].reset();
          }
        });
        form = dialog.find( "form" ).on( "submit", function( event ) {
          event.preventDefault();
          addEvent();
        });


        // page is now ready, initialize the calendar...
        $('#calendar').fullCalendar({
          theme: false,
          header: {
            left: 'prev,next today',
             center: 'title',
             right: 'month,agendaWeek,agendaDay'
          },
          selectable: true,
          selectHelper: true,
          editable: true,
          firstDay: 0,
          timeFormat: 'HH:mm', // uppercase H for 24-hour clock

          select: function(start, end, allDay) {

            // store start and end time to process after the dialog form
            sTime = start;
            eTime = end;

            dialog.dialog( "open" );

          },

          /*
          // To drag events if needed
          eventDrop: function(event, delta, revertFunc) {

              alert(event.title + " was dropped on " + event.start.format());

              if (!confirm("Are you sure about this change?")) {
                  revertFunc();
              }

          },*/

          events: '/admin/events.json'

        })


    });
  </script>

  </head>
  <body>
    <nav class="top-bar admin-top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">OgmaCMS</a></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li>     <%= link_to 'Forums', forem.forums_path %> </li>
          <% if user_signed_in? %>
            <li><%= link_to current_user.email, main_app.edit_user_registration_path %></li>
            <li><%= link_to "Log Out", main_app.destroy_user_session_path, method: :delete %><li>
          <% else %>
            <li><%= link_to "Register", main_app.new_user_registration_path %></li>
          <% end %>
        </ul>
        <ul class="left">
        </ul>
      </section>
    </nav>

    <div id="dialog-form" title="Create New Event">
      <p class="validateTips">Title field is required.</p>
      <p id="alertMiss"></p>      
      <form>
        <fieldset>
          <label for="title">Title</label>
          <input type="text" name="title" id="title" value="Event Title" class="text ui-widget-content ui-corner-all">
          <label for="body">Description</label>
          <input type="text" name="body" id="body" value="Description" class="text ui-widget-content ui-corner-all">
          <!-- Allow form submission with keyboard without duplicating the dialog button -->
          <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
      </form>
    </div>

    <%= yield %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
