<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= Setting.site_name %></title>
    <%= stylesheet_link_tag    "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="<%= controller.controller_name %>">
    <%= render 'layouts/topbar' %>
    <%= render 'layouts/messages' %>
    <br>
    <!-- Main Slider -->
    <div class="row">
      <div class="slider large-12">
        <% @main_slider = Slider.selected %>
        <% if @main_slider %>
          <ul data-orbit data-options="animation:slide;
                    pause_on_hover:false;
                    timer_speed:7000;
                    animation_speed:1500;
                    navigation_arrows:true;
                    bullets:true;">
            <% @main_slider.photos.order(position: :asc).each do |image| %>
              <li data-orbit-slide="headline">
                <div>
                  <img alt="default"  src="<%= download_attachment_url(image.attachment)%>">
                  <% unless image.attachment.description.nil? %>
                    <div class="orbit-caption">
                      <%= image.attachment.description %>
                    </div>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="medium-3 columns">
        <% @left_sidebars.each do |sidebar| %>
          <h3><%=sidebar.title%></h3>
           <ul class="side-nav">
            <% sidebar.links.each do |link| %>
              <li><%= link_to link.title, link.url_with_protocol() %></li>
            <% end %>
          </ul>
          <ul class="side-nav">
            <% sidebar.pages.each do |page| %>
              <li><%= link_to page.title, [:admin,page] %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="medium-6 columns">
        <%= yield :content %>
      </div>
      <div class="medium-3 columns">
        <% @right_sidebars.each do |sidebar| %>
          <div class="row">
            <div class="medium-3 push-7 columns">
              <h3><%=sidebar.title%></h3>
              <ul class="side-nav">
                <% sidebar.links.each do |link| %>
                  <li><%= link_to link.title, link.url_with_protocol() %></li>
                <% end %>
              </ul>
              <ul class="side-nav">
                <% sidebar.pages.each do |page| %>
                  <li><%= link_to page.title, [:admin,page] %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= yield %>
    <% @bottom_sidebars.each do |sidebar| %>
      <footer class="row">
        <div class="large-12 columns">
          <hr>
          <div class="row">
            <div class="large-6 columns">
              <ul class="inline-list left">
                <% sidebar.pages.each do |page| %>
                  <li><%= link_to page.title, [:admin,page] %></li>
                <% end %>
              </ul>
              <br/>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <% sidebar.links.each do |link| %>
                  <li><%= link_to link.title, link.url_with_protocol() %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    <% end %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
