<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OgmaCMS</title>
    <%= stylesheet_link_tag    "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="<%= controller.controller_name %>">
    <%= render 'layouts/topbar' %>

    <!-- Main Slider -->
    <div id="main-slider">
      <% @main_slider = Slider.first %>
      <% if @main_slider %>
        <ul data-orbit data-options="animation:slide;
                  pause_on_hover:false;
                  timer_speed:7000;
                  animation_speed:1500;
                  navigation_arrows:true;
                  bullets:true;">
          <% @main_slider.photos.order(position: :asc).each do |image| %>
            <li data-orbit-slide="headline">
              <div>
                <img alt="default"  src="<%= download_attachment_url(image.attachment)%>">
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="row">
      <div class="medium-3 columns">
        <% @left_sidebars.each do |sidebar| %>
          <h3><%=sidebar.title%></h3>
          <p>
            Links
          </p>
          <ul class="side-nav">
            <% sidebar.links.each do |link| %>
              <li><%= link_to link.title, link.url_with_protocol() %></li>
            <% end %>
          </ul>
          <p>
            Internal Pages
          </p>
          <ul class="side-nav">
            <% sidebar.static_pages.each do |static_page| %>
              <li><%= link_to static_page.title, [:admin,static_page] %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="medium-6 columns">
        <%= yield :content %>
      </div>
      <div class="medium-3 columns">
        <% @right_sidebars.each do |sidebar| %>
          <div class="row">
            <div class="medium-3 push-9 columns">
              <h3><%=sidebar.title%></h3>
              <p>
                Links
              </p>
              <ul class="side-nav">
                <% sidebar.links.each do |link| %>
                  <li><%= link_to link.title, link.url_with_protocol() %></li>
                <% end %>
              </ul>
              <p>
                Internal Pages
              </p>
              <ul class="side-nav">
                <% sidebar.static_pages.each do |static_page| %>
                  <li><%= link_to static_page.title, [:admin,static_page] %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= yield %>
    <% @bottom_sidebars.each do |sidebar| %>
      <footer class="row">
        <div class="large-12 columns">
          <hr>
          <div class="row">
            <div class="large-6 columns">
              <ul class="inline-list left">
                <% sidebar.static_pages.each do |static_page| %>
                  <li><%= link_to static_page.title, [:admin,static_page] %></li>
                <% end %>
              </ul>
              <br/>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <% sidebar.links.each do |link| %>
                  <li><%= link_to link.title, link.url_with_protocol() %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    <% end %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
